[2015-09-21 22:27] alex-spataru opened #1 "Checking if robot code exists..."
For the moment, we managed to get almost everything working. Just today we tested the Autonomous and everything worked smoothly. For the TeleOp part, we must see how to put the joystick data in the packets sent to the robot, Wireshark will help us pave the way this week...

However, the major issue that we are facing right now is to detect if the robot code is present or not. Does any one have any

[2015-09-21 23:47] ThomasJClark commented on #1
Disclaimer: I have no idea if this is 100% up to date, or if it even used to be true.  I haven't tested any of it.

Looking [here](https://github.com/WinT-3794/QDriverStation/blob/da49ddf4394ef5d9477e9644239e4df299680dab/lib/LibDS/src/Receiver.cpp#L32), it seems like QDriverStation only reads the packet index and battery level in the robot status packets, and ignores everything else.  This is my u

[2015-09-22 01:12] alex-spataru commented on #1
Thank you very much for the feedback, it is greatly appreciated! I will use this data to fix some issues around the library and (hopefully) detect the user code.

I will notify you tomorrow if we manage to detect the user code on the roboRIO.

[2015-09-22 21:51] alex-spataru commented on #1
We have tested the new changes and the QDriverStation is able to detect if the user code is loaded in the robot.

Thank you very much for the information!

[2015-09-22 21:51] #1 closed

[2015-09-22 23:57] alex-spataru opened #2 "SDL joystick mappings are different from the official FRC Driver Station"
While implementing and testing the protocol, an theoretical problem has arisen: SDL generates different joystick mappings than the ones used by the official FRC Driver Station (which are provided with Xinput). As a side note, the generated mappings can change depending on your platform and OS/driver version.

This can pose a serious security threat for teams that do not compare the joystick input

[2015-09-27 05:46] alex-spataru opened #3 "Get RAM and CPU usage in the roboRIO"
For the moment, we have almost finished the DS library. We were able to move our robot without any issues, further testing regarding the joystick buttons and POVs will be done Monday.

I think that the only missing features in the library would be to get the RAM and CPU usage of the roboRIO (as the official Driver Station does).

In my opinion, this could be done by reading some files in the **/de

[2015-09-27 14:47] ThomasJClark commented on #3
https://github.com/WinT-3794/QDriverStation/blob/master/lib/LibDS/src/Receiver.cpp#L72

Starting at `data.at (8)` there should be tagged data from the robot containing things like CPU and RAM usage.  This is my understanding for how you would read it.  I have no idea how QT networking works, so this is kind of pseudo-code, and as usual it's not really well tested.

	socket.seek(8); // Assume you'v

[2015-09-27 18:46] alex-spataru commented on #3
Thanks for the information! I did not know about this feature in the robot packets.
I will implement your code and test it tomorrow, hopefully it will work without any major changes.

[2015-12-20 01:59] jcreigh commented on #3
@ThomasJClark Where did you get that information on the structure of those packets? I knew the first float was the percentage itself, but I couldn't find any information on the other ones (and two of them were always 0 during my testing). Also, the first uint of the RAM packets is always 0 for me, with the 2nd uint being the number of free bytes (same with `0x04` Disk Usage packets)

@alex-spataru

[2015-12-20 05:18] ThomasJClark commented on #3
I, uh... may or may not have an early draft of proposed changes to the protocol from 2014.  If I did have such a draft, I'm pretty sure I shouldn't post it online.  I'm also pretty sure some stuff has changed since then, which might explain the 0 bytes.

[2015-12-21 01:18] alex-spataru commented on #3
@jcreigh Thank you very much for the information, it will be very useful to make the QDriverStation more complete. For the moment, the development version is able to do most things that the official FRC Driver Station does, but it still has many rough edges (e.g it has problems moving the robot with two joysticks, and code on DS->FMS is inexistent for the moment).

[2015-12-21 02:08] jcreigh commented on #3
@alex-spataru Certainly. If anything is unclear, just give me a ping. I don't have a ton of information on the FMS part either, since I can only base it on what packets captured during competitions.

@ThomasJClark ...Fair enough. Supposing you did have it, I guess you wouldn't email it to the address I have on my profile ;p

[2016-01-21 20:05] weaversam8 commented on #2
+1 :+1: We also have this issue, and it has definitely been something that would be more helpful. As it is right now, one of our linux drivers is thinking about making a change in our robot code to accommodate this... I'd rather not have to do that.

[2016-01-22 01:20] alex-spataru commented on #2
Thanks! I will begin working on this issue in the next couple of days.

[2016-01-29 01:09] PeterMitrano opened #6 "Can't compile on Ubuntu 14.04 -- How do I get qml?"
I'm unfamiliar with qmake, but running it in the root of this projects tells me i'm missing qml.
I've tried several packages (qml qtdeclarative5-dev libqt5declarative5)

What package do I need?

```Project MESSAGE: Warning: unknown QT: qml```

[2016-01-29 01:13] BearzRobotics commented on #6
This is the command I used to compile.

sudo apt-get install libsdl2-dev qtcreator qtmultimedia5-dev
libqt5multimediawidgets5 libqt5multimedia5-plugins libqt5multimedia5 && git
clone https:// <https://github.com/WinT-3794/QDriverStation.git>github.com
<https://github.com/WinT-3794/QDriverStation.git>/
<https://github.com/WinT-3794/QDriverStation.git>WinT
<https://github.com/WinT-3794/QDriverStatio

[2016-01-29 01:23] PeterMitrano commented on #6
...can I do it without installing qtcreator? That seems like a terrible dependency.

[2016-01-29 01:25] BearzRobotics commented on #6
Yes, I had a few dependence issues with my laptop, with ubuntu  ask already
installed.
On Jan 28, 2016 8:23 PM, "Peter Mitrano" <notifications@github.com> wrote:

[2016-01-29 01:26] BearzRobotics commented on #6
Ubuntu sdk

[2016-01-29 01:28] PeterMitrano commented on #6
I still says I don't have qml. I'm installed all of those things except qtcreator

[2016-01-29 01:55] BearzRobotics commented on #6
Could you post the exact terminal output, so that i and other don't just
start shooting in the dark please.

One thing you could try is going to qt website and install that. You won't
have to run it as root. By not doing this it will want to install to
'/home/(UserName)'/Qt. Then its all kept separate from your main system.

http://www.qt.io/download-open-source/

i:a man dakota james owen of the

[2016-01-29 04:52] alex-spataru commented on #6
You can check the [travis.yml](https://github.com/WinT-3794/QDriverStation/blob/master/.travis.yml) file, as far as I know it specifies all the dependencies of the Q

[2016-01-29 05:21] PeterMitrano commented on #6
Alex you are a champ--that travis file helped a lot. Turns out qt=qt5 was required...
Thanks guys. Looking forward to testing this with FRCSim (I'm the lead on that project)

[2016-01-29 05:21] #6 closed

[2016-01-29 05:33] alex-spataru commented on #6
I am glad that this could help you! Please let me know if I need to modify something in the QDriverStation to make it work with the FRCSim.

[2016-01-30 06:06] alex-spataru opened #8 "QDriverStation crashes when switching protocols"
The bug happens when we try to switch the protocols during runtime. The application will work for some seconds and then will crash. When the QDS is started again, the selected protocol will load correctly.

I will check this issue later with a debugger...

[2016-02-05 04:44] alex-spataru commented on #8
Issue fixed

[2016-02-05 04:44] #8 closed

[2016-02-07 03:36] alex-spataru opened #9 "No installers for Linux"
While this is not a bug. I consider this to be an issue. Linux users should be able to use the QDriverStation without needing to compile it. I would really like to support everyone, however, I am not familiar with the packaging process of _deb_ nor _rpm_ files. Note that ArchLinux is already supported by the community.

**Possible solutions:**

- If you have an idea about GNU/Linux packaging (be i

[2016-02-07 19:19] BearzRobotics commented on #9
I was able to make a *.run file that works here is the command, and a zip
that has the qdriverstation.run and the files i put inside of the
QDriverStation folder. They consist of a script and desktop file. Other
than that i include links to what i used to make the qdriverstation.run and
a youtube-video to learn how to use it. Best regards, let me know of any
issues that come up.

Once the qdrivers

[2016-02-07 19:24] BearzRobotics commented on #9
I forgot to mention you still have to install sdl2 separate from this.

i:a man dakota james owen of the family keeler am an ambassador for Christ

[2016-02-07 19:57] BearzRobotics opened #10 "QDriverStation crashes after being compiled(Linux)."
This is running on 64 bit Ubuntu
Terminal OutPut:

QNativeSocketEngine::joinMulticastGroup() was not called in QAbstractSocket::BoundState
ASSERT: "uint(i) < uint(size())" in file /usr/include/qt5/QtCore/qbytearray.h, line 414
Aborted (core dumped)

[2016-02-07 21:44] alex-spataru commented on #10
Hello, just to know what caused the crash:

- Where you connected to the robot when the QDS crashed?
- Does it happen every time you use the QDriverStation?
- What version of Ubuntu are you running (e.g. 14.04)?
- Are you using the latest commit, or a previous version?

Sorry for asking so many questions, I should really implement a logger to trace this kind of issues for the next release!

Greeti

[2016-02-07 21:49] alex-spataru commented on #9
Thanks for the information! I will check how this method works during the following days and keep you updated.

Greetings!

[2016-02-07 21:50] BearzRobotics commented on #10
I just compiled the latest version from gitHub and was testing to see if it
ran. When it opened and then crashed , i went to a terminal and ran the app
from there and it gave the error. I'm on Ubuntu 14.04.3 LTS 64 bit install.

i:a man dakota james owen of the family keeler am an ambassador for Christ

On Sun, Feb 7, 2016 at 4:44 PM, Alex Spataru <notifications@github.com>
wrote:

[2016-02-07 22:04] alex-spataru commented on #10
Thanks for the information, I will try to locate the issue with a debugger and implement a simple logger so that we can check what is going wrong. I will keep you updated through this conversation.

Please note that I may be slow to respond the following days because we are currently on exams period.

[2016-02-08 02:51] lopsided98 commented on #9
Personally, I hate installing software outside of my package manager, so I would recommend making deb and rpm packages.

My experience with the deb packages is that they are fairly complicated (at least compared to Arch Linux).

[2016-02-08 16:00] BearzRobotics commented on #9
I agree, but first i wanted to start simple and work up, i'm trying to
create a ppa, but i can't get any code to upload to launch pad.

i:a man dakota james owen of the family keeler am an ambassador for Christ

On Sun, Feb 7, 2016 at 9:51 PM, Ben Wolsieffer <notifications@github.com>
wrote:

[2016-02-08 16:09] BearzRobotics commented on #9
Here a while back i made an deb for 0.14, but getting it into the repose is
a challenge

https://drive.google.com/file/d/0BwmIj7Fz03lXZ1JjYnhLVVdRR0E/view

i:a man dakota james owen of the family keeler am an ambassador for Christ

On Sun, Feb 7, 2016 at 9:51 PM, Ben Wolsieffer <notifications@github.com>
wrote:

[2016-02-08 23:01] nathan815 opened #11 "QDriverStation crashes when quitting on OS X"
Quitting QDriverStation causes a crash report to pop up. I'm on OS X 10.9.5.

Here's the details:

[code]

[2016-02-09 00:51] BearzRobotics commented on #10
I got this error message form one of the horrible Ubuntu system problems
box.

i:a man dakota james owen of the family keeler am an ambassador for Christ

On Sun, Feb 7, 2016 at 5:04 PM, Alex Spataru <notifications@github.com>
wrote:

[2016-02-09 15:28] alex-spataru commented on #11
Thanks for the information! I will try to fix this issue as soon as I can. However, this may take some days, as we are currently in exam periods.

[2016-02-13 20:13] alex-spataru commented on #10
With the latest commit, I have implemented a simple logger.
Please note that while most of the DS library is logged, I still need to log some parts of the UI client....

[2016-02-13 20:15] alex-spataru commented on #11
With the latest commits, the QDriverStation seems to close without any issues on Mac OS X.
I will close this issue with the 0.15 release.

[2016-02-14 03:55] nathan815 commented on #11
Awesome, thanks for fixing it!

[2016-02-22 02:19] thomassross opened #12 "Don't use sourceforge"
Sourceforge has been going downhill in quality recently, uBlock Origin blocks it as a ["badware risk"](https://github.com/gorhill/uBlock/wiki/Badware-risks#sourceforgenet). I suggest you use GitHub's release system to host binaries instead.

[2016-02-22 03:50] alex-spataru commented on #12
Thanks for the information, I will transfer the installers to GitHub. I will keep the SF project open so that it redirects to the official website.

[2016-02-22 04:51] alex-spataru commented on #12
I moved the installers to GitHub and updated the official website with the appropriate download links.

[2016-02-22 04:51] #12 closed

[2016-02-22 20:39] thomassross commented on #12
Thanks!

[2016-02-24 21:29] alex-spataru opened #13 "[Linux] SDL detects external mouse as joystick"
While testing the QDriverStation on Linux (Ubuntu 14.04), I encountered a rather strange issue: SDL detects my external mouse as a joystick. Luckily, mouse movements did not affect at all the axes/buttons displayed in the Joysticks tab.

My idea to solve this issue is to create an option to 'blacklist' certain devices (using their UUID) and possibly, be able to upload the blacklist online, so that

[2016-02-24 22:38] BearzRobotics commented on #13
This is odd. I'v never encountered this before.

[2016-02-25 07:59] alex-spataru commented on #13
Attaching screenshot for further reference.
![mousebug](https://cloud.githubusercontent.com/assets/4225542/13313424/512a7a2a-db63-11e5-944b-1bc17d996926.png)

[2016-02-26 06:04] alex-spataru opened #14 "FMS Attached control word"
If you check the [HAL header](https://github.com/robotpy/allwpilib/blob/master/hal/include/HAL/HAL.hpp#L151) in WPILib, we can get a basic idea about the components of the 2015 protocol.

While the QDS is fully able to control an FRC robot, it still has some parts of the 2015 protocol that are "not mapped", specifically, the FMS part. As a sidenote, I have implemented the architecture to support D

[2016-02-28 21:55] alex-spataru commented on #10
Hello,

Can you try to open the QDriverStation without any external device attached to your computer? In some cases, if I have both the virtual joystick enabled and an external device attached (such as a mouse) my local installation of the QDS crashes during start-up OR when quitting.

I am still checking what could be the causes of the crash...the debug build does not tell me anything specific fo

[2016-02-29 01:30] BearzRobotics commented on #10
Alex it only crashed on me under my new desktop that i built. Witch the
power supply burnt up on. The Ubuntu system error box, showed that it
couldn't access something in ram. I can try to duplicate the problem on my
laptop tomorrow after school, and hope to get the same results.

i:a man dakota james owen of the family keeler am an ambassador for Christ

[2016-02-29 03:40] alex-spataru commented on #10
Thanks for the help,
Just as an additional sidenote, my installation crashed while executing [this function](https://github.com/WinT-3794/QDriverStation/blob/master/src/Joysticks/JoystickManager.cpp#L159) only when plugging in my external mouse (which for some crazy reasons reports 33 axes and 75 buttons) and enabling the virtual joystick, I am still looking if I can reproduce the crash with diffe

[2016-03-01 23:31] BearzRobotics commented on #10
If you install QDriverStation from a terminal run this command
 echo " " >> ~/qdriverstation.log && date >> ~/qdriverstation.log &&
~/qdriverstation >> ~/qdriverstation.log 2>> ~/qdriverstation.log

it creates and empty line at the to of a file that if it exist it will
append. It puts that data right after, and all console output from the
driver station is captured in this file for debugging.

i:a

[2016-03-02 02:58] BearzRobotics commented on #10
I built the QDriverStation using the same version of qt as you, and I'm using standard sdl2 from the repository (Ubuntu 14.04). The first few things that come to my mind is a bug in  sdl2 that's in the 16.04 repo, kernel bug, or how the mouse it self interacts with the system.

I tested this out LOGITECH DUAL ACTION controller (P /N: 863247-0010)

[2016-03-02 03:30] alex-spataru commented on #10
Well, I turns out that its a bug long-present in the Linux kernel, some keyboards and mouses are detected as a joystick. [this repository](https://github.com/denilsonsa/udev-joystick-blacklist) contains more information.

However, I still find it strange that this causes a crash on the QDriverStation, since the crash seems to be originated from the "Qt part" of the application, not from SDL or ano

[2016-03-03 23:07] BearzRobotics opened #15 "QDriverStation reports back double the battery reading"
When the QDriverStaiton reports back the battery voltage its doubled
instead of 12v it reports back as 24v.

Using the latest build from git hub, Ubuntu 14.04 LTS 64 Bit.

Screen Shot and Log Files:
https://www.dropbox.com/sh/u8a9om7ow2tp6bp/AABJd5PbG2VSSlz5XKsZZXbwa?dl=0

[2016-03-03 23:34] alex-spataru commented on #15
I will check again the code to obtain and process the battery voltage. Thanks for reporting this issue.

[2016-03-05 01:13] alex-spataru commented on #15
I checked the the improved code today. As for me, the QDriverStation reported the correct voltage. Can you check that the issue is fixed for your team as well?

[2016-03-07 12:37] makahn opened #16 "DS Hangs when docked on multi monitor setup [OS X]"
Driver station hangs when window mode is set to docked on a multi-monitor OS X setup.

Can be avoided by leaving the window mode set to "Display Normally"

[2016-03-08 04:32] alex-spataru commented on #16
Thanks for the report!

What version of the QDriverStation are you running and which version of Mac OS are you using?

[2016-03-11 11:56] BearzRobotics commented on #15
Sorry it took so long. It turns out there is a bug in the PDP. That returns
a fake voltage on the battery. Last night in the pits we were give a new
PDP. This one does not have this problem.

[2016-03-13 07:10] alex-spataru commented on #15
I am glad that the problem was solved for you. I hope you had a great regional!

[2016-03-13 07:10] #15 closed

[2016-03-15 00:07] younters commented on #16
Somewhat related, on OS X El Capitan, when the system dock is moved to the left side, the window by default is underneath the dock.

[2016-03-15 02:12] alex-spataru commented on #16
@younters Thanks! I will change the functions used to calculate the width of the window when docked, hopefully that could help to solve this issue.

[2016-03-15 08:44] alex-spataru commented on #16
@younters I fixed your issue with the latest commit, see the attached screenshot for further reference.
![screenshot](https://cloud.githubusercontent.com/assets/4225542/13772020/73eef862-ea57-11e5-972e-d21cfddf9d0d.png)

@makahn I already know what causes the DS to hang in a multi-monitor setup. I will check if Qt allows me to get information about the current screen in which the application is di

[2016-03-16 05:25] alex-spataru opened #17 "[Idea] Re-write QDriverStation and LibDS with Python"
Well, while C++ has worked pretty well for me and my team (and this project), most FRC programmers are familiar with Java and Python. If this project were to be maintained by the community, the most logical decision would be to adapt it to most FRC developers.

However, Java is still relatively complicated and could present some issues regarding the UI (Qt is a very good toolkit IMO). A possible s

[2016-03-16 10:56] BearzRobotics commented on #17
This is just my opinion. I would leave LIBDS in c++. While the driver
station I see no problems in bringing up to Qtpy, python or whatever.

[2016-03-16 12:29] riftware commented on #17
I agree.  If you aren't willing to do java please stay in c++      I think
a big part of the issue is that not many people know your project exists
yet.
On Mar 16, 2016 5:56 AM, "BearzRobotics" <notifications@github.com> wrote:

[2016-03-16 12:32] riftware commented on #17
I just checked, there is at least one java qt bindings project.
http://qtjambi.org/
On Mar 16, 2016 12:25 AM, "Alex Spataru" <notifications@github.com> wrote:

[2016-03-18 18:38] makahn commented on #16
OS X 10.10.5
QDriverStation v0.14
- Sorry for the delay

[2016-03-19 13:20] alex-spataru commented on #16
No worries, thanks for the information!

[2016-03-22 19:09] alex-spataru commented on #17
Thanks for the suggestions! I think that the QDriverStation and LibDS will continue using Qt/C++ for the moment, since I am not very familiar with Java.

@riftware Thanks for the information about QtJambi, however, QtJambi does not support Qt5 (AFAIK).

[2016-03-22 19:09] #17 closed

[2016-04-09 05:20] alex-spataru opened #18 "Implementing the 2014 communication protocol"
I have begun working on the 2014 communication protocol (by looking at the [node-driverstation](https://github.com/gluxon/node-driverstation) code). However, I have a big problem: we have upgraded the components and wiring of our older robot (2014) to the new 2015 components as part of a training exercise for the new kids in our team during the 2015 off-season.

In other words, I cannot test if th

[2016-04-09 20:49] lopsided98 commented on #18
​I can test it with our cRIO based demo robot, though I probably won't have time until after district championships next weekend.

I also have these Wireshark dissectors, which might be helpful. They cover most of the important parts of the protocol.

[frc_2014_wireshark_dissectors.zip](https://github.com/WinT-3794/QDriverStation/files/211479/frc_2014_wireshark_dissectors.zip)

[2016-04-10 16:57] alex-spataru commented on #18
@lopsided98 Thanks for the dissectors, I will take a look at them as soon as possible. I will notify you when I finish implementing the basic parts of the 2014 protocol, hopefully it will work without any major modifications.

[2016-04-10 21:11] alex-spataru commented on #13
I've added an option to blacklist/whitelist the selected joystick in the latest commit. Its the best solution that I can come up with for the moment.

[2016-04-10 21:11] #13 closed

[2016-04-13 21:20] Qormix commented on #18
I've got a working classmate laptop with the 2014 software running I could test it tomorrow

[2016-04-13 22:40] alex-spataru commented on #18
@Qormix Thanks for the support, however, I still haven't even got the base protocol right (e.g be able to switch operation modes and enable and disable the robot). In other words, the 2014 protocol will not work for the moment, and it will most probably trigger an emergency stop in your robot if you try it.

I will send a message/comment to this thread when I am relatively confident about my imple

[2016-04-14 04:58] alex-spataru commented on #18
Hello, here are some updates and changes that I did with the last commits:

- Generating DS-to-robot packets is almost complete, everything works (tested with @lopsided98 dissectors) except the joystick input.
- I still need to implement the part that interprets robot-to-DS packets.
- I am not very sure if my implementation of the CRC checksum is correct.

**Questions:**
- Is it possible to know i

[2016-04-14 10:42] Qormix commented on #18
The pov was implemented as a axis.

[2016-04-15 04:24] alex-spataru commented on #18
Another update: joystick support is now almost complete (my implementation generates axis and button data for multiple joysticks).

@Qormix Thanks for the information, I will try to collaborate your information with what I found online (it seems that nobody cares about the POVs) and the Wireshark data. Also, it seems odd that the official Driver Station (version 16.0.2, with 2014 protocol enabled)

[2016-04-15 05:03] alex-spataru commented on #18
I just implemented the basic [robot-to-DS packet interpretation code](https://github.com/WinT-3794/QDriverStation/blob/master/lib/LibDS/src/Protocols/FRC_2014.cpp#L198). For the moment, we can know if the robot has code (or not), the battery voltage and the status code of the robot (teleop, autonomous, e-stop, etc).

It seems that robot reports if the code is present or not with the battery voltag

[2016-04-18 00:50] alex-spataru commented on #18
I just have implemented and tested the CRC32 checksum and it works very well, I have also run tests with Wireshark and the QDriverStation generates the exact packet data as the official Driver Station (when both are put in the same situations). In other words, the protocol should be ready for testing on real robots.

If anyone is interested in testing the 2014 protocol, just compile the latest com

[2016-04-18 06:28] alex-spataru opened #19 "Project Icon/Logo competition"
Since this project has started, it used the logo of FIRST as its primary icon. However, this can get us in trouble with the branding policy of FIRST, since we cannot verify that every contributor and user of this project is related to FIRST. Also, the logo of FIRST can be used in many projects and does not really represent a Driver Station application....

Since I suck at designing, I would like t

[2016-04-18 21:47] everylittlebit commented on #19
Wow, this looks like an interesting project that I will definitely be notifying my team of, here is a quick logo idea,
![My Submission](http://i.imgur.com/0GWgMVq.jpg)
Cheers from team 2702

[2016-04-18 22:25] Jelomite commented on #19
I don't know if I should stay with the FIRST colors or not, anyways, here the idea:

![untitled-2](https://cloud.githubusercontent.com/assets/18540571/14621660/214e3fa0-05cd-11e6-95ea-08d6c5b0e24b.png)

Good luck :smiley:

[2016-04-19 00:08] alex-spataru commented on #19
This logo was created by [Jelomite](http://github.com/jelomite).
I received an e-mail notification but somehow his/her contribution is not displayed here, so I am re-uploading the design here.

![214e3fa0-05cd-11e6-95ea-08d6c5b0e24b](https://cloud.githubusercontent.com/assets/4225542/14623487/5a602112-0598-11e6-84ea-0697489c98f5.png)

@everylittlebit Thanks for your contribution! I like that icon!

[2016-04-19 04:31] Jelomite commented on #19
@alex-spataru It seems that I accidently deleted the comment, I'm kinda new to gitHub. Thanks for reuploading!

[2016-04-19 04:33] andrewda commented on #19
@Jelomite the logo looks great!

[2016-04-19 04:36] Jelomite commented on #19
@andrewda Thank you!

[2016-04-21 13:36] alex-spataru commented on #19
@Jelomite I also like your logo, do you think that you can upload a version with a transparent background?

[2016-04-21 16:01] Jelomite commented on #19
@alex-spataru  No problem, here it is:
![qdriverstation icon](https://cloud.githubusercontent.com/assets/18540571/14715889/531c7088-07f3-11e6-886d-89fa20774b55.png)

[2016-04-22 03:00] alex-spataru commented on #19
@Jelomite Thanks!

[2016-04-25 04:53] alex-spataru commented on #14
I fixed this issue with commit [be2c2b4](https://github.com/WinT-3794/QDriverStation/commit/be2c2b4806cfad7265764a1ec91269a51c1f20f4).

[2016-04-25 04:53] #14 closed

[2016-05-02 05:04] alex-spataru commented on #18
I managed to obtain the 2014 Update Suite and was able to test the protocol with the LabVIEW simulator.

I have made all necessary changes for the protocol to work as intended. Finally, I tested thoroughly my implementation to the point that I am confident that its safe for use with real robots.

@lopsided98 and @Qormix: Thanks for the support!

**Simulator w/ QDriverStation screenshot**

![screen

[2016-05-02 05:04] #18 closed

[2016-05-02 17:21] Qormix commented on #18
Works great on our robot! sorry I didn't it sooner couldn't compile it on my laptoo.

[2016-05-03 03:17] alex-spataru commented on #18
@Qormix Glad to hear it! If you find anything not working as intended, please open an issue.

[2016-05-03 21:11] alex-spataru commented on #19
Based on an online [tutorial](http://gimpchat.com/viewtopic.php?f=23&t=4660), I created the this icon:

![qdriverstation](https://cloud.githubusercontent.com/assets/4225542/14998394/51d3320c-1149-11e6-9ead-21eb7ab80dd0.png)

Any opinions about it?

[2016-05-03 21:39] alex-spataru commented on #19
And here is another variant of the logo with another font for the "Q"

![modern](https://cloud.githubusercontent.com/assets/4225542/14999226/8afa7c80-114d-11e6-9fbf-f797a07e1808.png)

[2016-05-04 16:09] Qormix opened #20 "2014 Protocol Issues uploading code"
QDriverStation is using a port that is required to reboot the CRio to complete an upload. this can be done manually using the reboot in QDriverstation. I will look into it further to figure out which ports and being used

[2016-05-05 19:54] alex-spataru commented on #20
Does the reboot feature not work, or is it something else that is not working properly (e.g. causing issues while uploading code)?

[2016-05-05 19:59] Qormix commented on #20
The reboot feature does work In QDriverStation works as expected. QDriverStation is preventing me from uploading code.

The ant build is able to send code, but is unable to reboot the rio which is required to complete an upload. returning an error could not bind port already in use.

I believe this issue lies with QDriverStation having the net console running as when you compile it opens a net con

[2016-05-05 20:01] lopsided98 commented on #20
I think I've run into this issue before, but I was using the 2016 DS using the old protocol. When trying to upload from a computer (in this case running Linux, I don't know if it happens on Windows) on the network, the build script is unable to connect to the OTA server on the cRIO, so the reboot does not happen automatically.

[2016-05-05 20:02] alex-spataru commented on #20
Thanks, I will try to change the port flags for the UDP sockets, maybe this could help fixing the issue, does anyone have any more information about how the code is uploaded to the cRIO?

[2016-05-05 20:02] lopsided98 commented on #20
@Qormix I wonder if the 2016 DS connects to NetConsole when using the old protocol. That would explain both of our problem.s

[2016-05-05 20:03] lopsided98 commented on #20
I know that the program is uploaded over FTP, but then the build script sends some command (maybe over NetConsole) telling the robot to reboot. The build script calls it the OTA server.

[2016-05-05 20:04] alex-spataru commented on #20
@Qormix @lopsided98 The NetConsole runs on ports 6666 and 6668 through an UDP connection. Maybe the NetConsole sockets need a special flag to be set in order for correct operation...

[2016-05-05 20:08] alex-spataru commented on #20
I found some information about the code uploading process [here](https://wpilib.screenstepslive.com/s/3120/m/7885/l/97458-understanding-the-program-download-process). As far as I know, the NetBeans plugins are open-source, if so, I could take a look at them to fix this issue.

[2016-05-05 20:10] lopsided98 commented on #20
I decompiled the ant plugin, and I'm trying to figure out how it works. The important class appears to be `com.sun.spot.sdk.tool.frc.RunTask`.

[2016-05-05 20:14] lopsided98 commented on #20
The OTA server appears to be separate from NetConsole, running on port 8001, and the build script just sends the string `!RUN!` over TCP to cause the cRIO to reboot.

[2016-05-05 21:31] alex-spataru commented on #20
@lopsided98 Thanks for the information! If so, I find it strange for the QDriverStation to interfere with the code uploading process. I will configure the sockets to use the SO_REUSEPORT and SO_REUSEADDRESS flags. I will report back when finished.

[2016-05-05 21:35] lopsided98 commented on #20
I'm not sure if that command actually restarts the cRIO, but I can't find anything else that seems to do it. On the other hand, I can't figure out where most of the messages that appear in the output are printed, so I think I'm not looking at all the relevant code.

Next week I'm going to be spending a lot of time working on our robots, so I'll try to see if I can see anything in a live packet cap

[2016-05-06 03:03] alex-spataru commented on #20
@lopsided98 Thanks for the help offer! I will try to find the source for the 2014 plugins, or ask at ChiefDelphi for more information regarding this topic, hopefully we can get some extra information in order to fix the issue.

[2016-05-06 16:10] Qormix commented on #20
@lopsided98 @alex-spataru I got a chance to look at the source. It appears as though it is also opening a netconsole to view a console out. which causes it to error before it can send "!RUN!" or "!DEBUG!" to the rio. Secondly the official driver station doesn't open a console stream when running in 2014 mode. That might be the best solution.

[2016-05-06 17:32] alex-spataru commented on #20
@Qormix I will disable the NetConsole for the 2014 protocol, hopefully this will be the solution.

[2016-05-06 22:29] alex-spataru commented on #19
Does anyone have more comments on the logos?

[2016-05-06 22:48] Jelomite commented on #19
@alex-spataru  The second one looks very neat, I love it.

[2016-05-09 20:04] Qormix commented on #20
Works Great! Thanks for the fix.

[2016-05-09 20:04] #20 closed

[2016-05-10 02:40] alex-spataru commented on #20
I am glad that the fix worked! Thanks for all the information and support!

[2016-05-18 17:48] viggy96 commented on #9
How do I launch qdriverstation after I install the deb package? The package fails to create a desktop menu entry, and I don't know what the terminal command is to  launch it.

[2016-05-18 22:00] alex-spataru commented on #9
**TL;DR:** Try running the following command on your terminal: `qdriverstation`

**Long explanation:**

The build configuration generates a makefile that should install the QDriverStation as a normal GNU/Linux application (executable in _/usr/bin_, launcher in _/usr/share/applications_ and pixmap in _/usr/share/pixmaps_).

[2016-05-19 13:49] alex-spataru commented on #9
@viggy96 I've checked the Linux deploy configuration and it works (I had to do some fixes, because I messed up the configuration when re-writing the application in QML). However, if you used the 0.14 *.deb installer, it should have worked correctly.

Another note, the application icon on the Unity launcher did not appear until I logged out (and logged in again). I tested this with Ubuntu 16.04.

[2016-05-31 06:38] alex-spataru opened #21 "Support for ROS protocol"
@BearzRobotics suggested me to add support for the [ROS](http://www.ros.org/) some time ago. Now that I have a little more free time, I would like to begin working on that, since this could be useful for people outside FRC. I think that adding support for ROS is critical for the survival of this project, since it would attract more developers and therefore, it may help keep this project alive (and

[2016-05-31 20:19] alex-spataru commented on #21
Thanks for the links! If so, we could draft our own way to represent control modes, enabled states & other information.

[2016-06-01 17:51] alex-spataru commented on #10
Quick & unrelated update regarding this issue: the application saves its logs on `~/.qdriverstation/`. I have also improved substantially all the code that deals with pointers and lists (which could lead to your crash issue).

If possible, could you try to reproduce your crash again and upload the logs?

[2016-06-02 12:39] BearzRobotics commented on #10
I tried but couldn't reproduce the crash on my Desktop nor on my Laptop.

Sincerely:
i:a man Dakota James Owen of the family Keeler am an ambassador for Christ

[2016-06-02 22:19] alex-spataru commented on #10
@BearzRobotics Thanks for the information! I will close this issue. If the crash occurs again, feel free to re-open this issue.

[2016-06-02 22:19] #10 closed

[2016-06-03 01:47] keco185 opened #22 "QDriverStation Crashes on Connection (Mac OS X)"
Whenever the driver station software manages to show green connection it crashes within 100ms. It works up until it gets a connection to the robot however.
`Process:               QDriverStation [4243]
Path:                  /Users/USER/Downloads/QDriverStation.app/Contents/MacOS/QDriverStation
Identifier:            org.wint.qdriverstation
Version:               0.14 (???)
Code Type:

[2016-06-04 01:49] alex-spataru commented on #22
@keco185 Thanks for the report! I will release a new version (16.05) very soon. Aside from many improvements, the new version provides a much safer handling of pointers (which is a very probable cause for the crash given EXC_BAD_ACCESS).

If you want to test the new version (16.05 RC1), you can download it from here:
[qdriverstation-16.05-rc1.zip](https://github.com/WinT-3794/QDriverStation/files/

[2016-06-04 02:09] alex-spataru commented on #11
@nathan815 Here is a download link to the release candidate: [qdriverstation-16.05-rc1](https://github.com/WinT-3794/QDriverStation/files/298626/qdriverstation-16.05-rc1.zip).

Sorry for the (very) long delay, on one hand, there was build season & school stuff, on the other, I changed a lot of things for the new release. I hope that this release works well for you!

[2016-06-05 15:52] lopsided98 opened #23 "Selecting SmartDashboard on Linux opens JAR file as archive"
When selecting either of the dashboards when running QDriverStation in GNOME on Linux (I'm not sure if this is specific to GNOME), the JAR file opens as an archive (in file-roller). This is because you start it using `xdg-open`. Is there a reason you use this rather than just calling `java -jar` like on Windows and Mac? When I changed it to use `java -jar` on Linux, it worked correctly.

[2016-06-05 17:03] #23 closed

[2016-06-05 17:04] alex-spataru commented on #23
@lopsided98 Thanks for the report and contribution!

[2016-06-06 19:59] alex-spataru commented on #19
Thanks for the contributions and comments! The QDriverStation will use the icon provided by @Jelomite.

[2016-06-06 19:59] #19 closed

[2016-06-08 01:41] keco185 commented on #22
The new versions seems to have resolved the connection problem. However, a new problem arises. It seems that the driver station can't send packets frequently enough to prevent the watchdog on the robot from triggering. Every second or so the motors cut out. There is also a graphical error where the voltage is misreported. This seems to happen when the motors cut out.
http://imgur.com/a/6ibog

[2016-06-08 03:25] alex-spataru commented on #22
@keco185 Thanks for the report! I had a very similar problem when testing out with a simulator (after I initially responded to your report). Since then, I fixed this issue (at least for me), here is the latest (hopefully fixed build): [qdriverstation-16.06.zip](https://github.com/WinT-3794/QDriverStation/files/303931/qdriverstation-16.06.zip)

I have a couple of questions:
- After loosing connecti

[2016-06-08 04:14] keco185 commented on #22
The driver station didn't disconnect in the traditional sense. The robot needs updated information from the driver station 50 times per second in order to ensure it is operating safely. For some reasons it wasn't getting updates fast enough and when the robot didn't get an update on the status of the joysticks it cut the motors for a fraction of a second until the next update came. It stayed conne

[2016-06-08 18:22] alex-spataru commented on #22
Thanks! Here is (yet another!) build: [qdriverstation-16.06-threaded.zip](https://github.com/WinT-3794/QDriverStation/files/305372/qdriverstation-16.06-threaded.zip). The main difference is that this build separates some modules into different threads and (slightly) decreases the packet-sending interval to compensate for OS/hardware delays. Feel free to try this build if the other still presents p

[2016-06-12 21:13] alex-spataru commented on #11
@nathan815 I will close this issue for now, since the latest release does not seem to crash (at least on the machines that I tested with). If the latest release still crashes with you, feel free to open this issue again. Thanks!

[2016-06-12 21:13] #11 closed

[2016-06-12 21:51] alex-spataru commented on #16
@makahn With the latest version ([link](https://github.com/WinT-3794/QDriverStation/releases/tag/v16.06-beta)), does the QDriverStation still crash with your multi-monitor setup?

[2016-06-16 02:48] keco185 commented on #22
I was able to try the builds but with no success. They wouldn't connect to the robot. There was one circumstance where it flashed something about a simulation before continuing to show no connection.

[2016-06-16 07:52] alex-spataru commented on #22
@keco185 My bad, I somehow managed to make the sockets module work only for a robot with the same IP as the DS (e.g. simulating a robot on the same computer running the DS). Frankly, I do not know how or why that happened. Anyways, I re-implemented the whole sockets module again and tested it accordingly. At least for me, it worked without issues.

You can grab a copy of the new build, by clicking

[2016-06-18 00:21] alex-spataru commented on #9
I've begun working on creating a snap package of the QDriverStation. However, I still have some issues to tackle during the runtime:

- QProcess cannot initialize the commands used to get CPU and Battery status
- SDL2 cannot interact with the ALSA system (which does not allow the QDS to generate sounds)
- SDL2 cannot interact with the kernel correctly (which does not allow the QDS to get joystick

[2016-06-18 00:30] BearzRobotics commented on #9
When you get one made I can test it on my laptop under Ubuntu and Arch
Linux.

Sincerely:
i:a man Dakota James Owen of the family Keeler am an ambassador for Christ

On Fri, Jun 17, 2016 at 8:21 PM, Alex Spataru <notifications@github.com>
wrote:

[2016-06-19 22:50] alex-spataru commented on #9
I finished creating a Debian package (you can get it [here](https://github.com/WinT-3794/QDriverStation/releases/download/v16.06.1/qdriverstation-16.06.1-amd64.deb)). Because I am lazy, I wrote a script that automates the process of generating debian and snap packages. You can find the scripts [here](https://github.com/WinT-3794/QDriverStation/tree/master/etc/deploy/linux), if anyone sees somethin

[2016-06-23 06:04] alex-spataru commented on #9
Yet another update on the snaps: If I set the snap confinement to "devmode", SDL seems to work without any issues. However, the QDriverStation still has problems getting CPU and Battery status information.

Once I fix that (maybe by reading `/proc/stat` directly instead of using CLI hacks), I will upload the obtained snap package. Please take into account that I might need to compress it, because

[2016-06-25 00:42] alex-spataru commented on #9
I will close this issue and open other issues to address the following:
- Snap packages
- Setting up a PPA (AFAIK, @BearzRobotics has already created one)
- Flatpack packages (in the case that GNOME/Fedora does not allow snap packages)

Thanks for all your support!

[2016-06-25 00:42] #9 closed

[2016-06-25 00:53] alex-spataru opened #25 "Snap Packages"
This is not much of an issue, it is more like a discussion channel regarding the progress of supporting snap packages.

For the moment, we are able to create and distribute snap packages, however, the generated snaps are not able to:
- Use SDL2 properly under a "strict" confinement ("devmode" works)
- Snapcraft security model does not allow applications to access `/proc/stat`, which is used by the

[2016-06-25 03:00] alex-spataru commented on #22
@keco185 Kevin, did the latest versions of the QDriverStation work for you?

[2016-06-25 03:18] keco185 commented on #22
Sorry I completely forgot to reply. I wasn't able to get the program to connect at all.

[2016-06-25 03:27] alex-spataru commented on #22
No worries, I will close this issue (because the crash was fixed) and open a new issue regarding the QDriverStation not being able to connect to the robot. Thanks for the feedback!

[2016-06-25 03:27] #22 closed

[2016-06-25 03:34] alex-spataru opened #26 "QDriverStation not connecting to the robot (user report)"
@keco185 notified me through issue #22 that his installation of the QDriverStation was not able to connect to his team's robot. The QDriverStation works for me (and hopefully for you too), but that may not be the case for everybody.

I would like to have some feedback regarding on how the [latest (16.06.1)](https://github.com/WinT-3794/QDriverStation/releases/) version of the QDriverStation works

[2016-06-25 10:07] BearzRobotics commented on #25
Yes, I made you a co administrator when i created the team last night. The
team is seat up were anyone can ask to join, but it has to be approved by
one of the administrators.

Sincerely:
i:a man Dakota James Owen of the family Keeler am an ambassador for Christ

[2016-06-25 16:35] alex-spataru commented on #25
Thanks! For anyone that is interested to check the PPA (which can also help us with the snaps), please navigate to: https://launchpad.net/~qdriverstation

The repository is maintained by @BearzRobotics, as he said, anyone is welcome to join the team.

[2016-06-29 17:48] alex-spataru commented on #2
I will begin testing [QGamepad](https://doc-snapshots.qt.io/qt5-5.7/qgamepad.html), this can hopefully provide a good solution to the joystick mappings and help us remove the SDL dependency.

[2016-07-08 00:24] BearzRobotics commented on #25
Here is an update on snap packages

https://developer.ubuntu.com/en/blog/2016/07/06/announcing-new-snap-desktop-launchers/

[2016-07-16 12:55] DanielEliad opened #29 "QDriverStation Crashes After compilation"
Hello,
I have followed the guides as described and I seem to have an issue. I tried to make sure I have the SDL and qt libraries up to date, the compilation process goes well but when I run the driver station it spouts out this error message.I am working on an ubuntu 14.04.

00:00.0        DEBUG         Scale factor set to: 1
terminate called after throwing an instance of 'std::regex_error'
  what

[2016-07-16 18:13] alex-spataru commented on #29
Well, I did not stumble with this error before. Some Google searches indicate that this error could be related to GCC (e.g. using an older version that does not fully support C++11). Could you try to follow the commands outlined in the [Travis build file](https://github.com/FRC-Utilities/QDriverStation/blob/master/.travis.yml)?

Anyways, I will install Ubuntu 14.04 on a VirtualBox and see what hap

[2016-07-16 20:22] alex-spataru commented on #29
**Update** It seems that your error comes from the code that gets CPU usage under Linux. We use [regex](http://www.cplusplus.com/reference/regex/) to do that, which only works with C++ 11 or greater. Updating your GCC to a later version (e.g what the [Travis CI file](https://github.com/FRC-Utilities/QDriverStation/blob/master/.travis.yml) does) should fix your issue.

References:
- http://www.cplu

[2016-07-17 09:23] GreenBlitz4590Programmers commented on #29
Thank you for answering,
I have tried both with gcc and g++ version 4.8 and with them version 4.9 that supports c++11 but didn't manage to run the program.

[2016-07-17 17:50] alex-spataru commented on #29
@GreenBlitz4590Programmers @DanielEliad I will try to replace the standard regex functionality with Qt's built-in regex functionality. Hopefully this will fix this issue.

[2016-07-17 18:16] alex-spataru commented on #29
**Update** I re-wrote the code that obtained CPU usage under GNU/Linux using Qt functions. The application should compile and run fine, regardless of GCC version or C++11 support.

@DanielEliad @GreenBlitz4590Programmers Can you try the latest commit to see if this issue was solved?

[2016-07-17 18:27] GreenBlitz4590Programmers commented on #29
Thank you so much for helping, i'm trying it out right now. actually Daniel and I are the same person. This account is my FRC tean's github account.

[2016-07-17 18:34] GreenBlitz4590Programmers commented on #29
Unfortunately, it didn't work. However, now I am getting a different error message,
00:00.0        DEBUG         Initializing DriverStation...
00:00.0        DEBUG         DriverStation initialized!
00:00.2        WARNING       QQmlApplicationEngine failed to load component
00:00.2        WARNING       qrc:/qml/main.qml:86 Type MainWindow unavailable
qrc:/qml/MainWindow/MainWindow.qml:27 module "Q

[2016-07-17 18:44] alex-spataru commented on #29
Well at least we got our first issue solved :+1:

For the second error to be fixed, you must install [qml-module-qt-labs-settings](http://packages.ubuntu.com/search?keywords=qml-module-qt-labs-settings). If you are using Ubuntu 14.04 or 14.10, you may need to download and install this package manually, since it is available for Ubuntu 15.04 or greater.

[2016-07-19 18:25] GreenBlitz4590Programmers commented on #29
I have been trying to find a way to install this package manually, I found a .deb file and installed it but now I am getting this message saying the version does not suffice:

00:00.0        DEBUG         Initializing DriverStation...
00:00.0        DEBUG         DriverStation initialized!
00:00.2        WARNING       QQmlApplicationEngine failed to load component
00:00.2        WARNING       qrc:

[2016-07-20 03:30] alex-spataru commented on #29
The only thing that I can think of is adding a PPA to your system and upgrading Qt with it, you can do this with the following commands:

[code]

**Note:** I have not tested these commands, I am just following the repository instructions.

Source: https://launchpad.net/~beineri/+archive/ubuntu/opt-qt57-trusty

Sorry for the late reply,
--Alex

[2016-07-25 11:24] DanielEliad commented on #29
It worked!

Thank you so much for your help :smile:

[2016-07-25 15:32] alex-spataru commented on #29
@DanielEliad Glad to hear it! Thanks for the report!
@GreenBlitz4590Programmers Did you manage to fix your issues? Maybe we still can help you out.

[2016-07-25 15:37] DanielEliad commented on #29
We are the same person actually, one account is just my FRC team's account and the other is my private account.

I am having one issue which may be present in the original driver station for windows. I am using 2 Logitech Extreme joysticks and one XBOX controller. When I connect all three the driver station(both in windows and linux) detects two joysticks as the same one, so when I move either joy

[2016-07-25 15:42] DanielEliad commented on #29
Also now I appear to not have connection through QDriverStation but I do have a connection to the robot through wine.

[2016-07-25 15:45] DanielEliad commented on #29
Maybe these warnings have to do with it:

00:00.6        WARNING       QSslSocket: cannot resolve SSLv2_client_method
00:00.6        WARNING       QSslSocket: cannot resolve SSLv2_server_method

[2016-07-25 16:27] alex-spataru commented on #29
These warnings are about the updater, nothing to worry about. I have received other issues regarding the communications...I am uploading the fixed builds right now :)

Regarding the joysticks, I will open a new issue about them (so that we keep the issues organized) and mention you there.

[2016-07-25 16:27] #29 closed

[2016-07-25 16:33] alex-spataru opened #30 "QDriverStation detects multiple joysticks as one"
In a previous issue, @DanielEliad wrote:

@DanielEliad do you have any log available (they are located in `~/.qdriverstation`)? I want to see if this is just an UI issue or a logic issue (e.g. the joysticks are not registered correctly with LibDS).

[2016-07-30 13:38] DanielEliad commented on #26
Same issue for me but I am on version 16.07

[2016-07-30 17:27] alex-spataru commented on #26
@DanielEliad Did you try to input your robot's static IP in the settings dialog? It is possible that the mDNS responder fails to find your robot (or it finds its IPv6 address, which may or may not work with Qt).

[2016-08-05 04:01] MC42 opened #31 "Older Protocols?"
The front-page lists QDS as supporting back to 2009 and yet the drop-down only goes back to 2014.  Were the older versions dropped, or backstashed somewhere else in the code?

[2016-08-05 04:10] alex-spataru commented on #31
AFAIK, the DS 2009 through 2014 communication protocols where the same (at least with what I found on GitHub and ChiefDelphi). Selecting the 2014 protocol should allow you to control any 2009-2014 robot.

On the other hand,  I have separated the 2016 and 2015 protocols because the base robot address was changed between the seasons (from roboRIO-XXYY.local to roboRIO-XXYY-FRC.local), but the rest o

[2016-08-05 04:27] MC42 commented on #31
Next time I'm in the shop, I'll test on our 2012 robot with the cRIO.  Will post results.

[2016-08-05 04:31] alex-spataru commented on #31
Thanks, if you need help with anything, just reply to this thread.
________________________________
From: Tim Flynn<mailto:notifications@github.com>
Sent: ‎8/‎4/‎2016 23:27
To: FRC-Utilities/QDriverStation<mailto:QDriverStation@noreply.github.com>
Cc: Alex Spataru<mailto:alex_spataru@outlook.com>; Comment<mailto:comment@noreply.github.com>
Subject: Re: [FRC-Utilities/QDriverStation] Older Protocol

[2016-08-13 13:29] MC42 commented on #31
Upon further inspection, the QDriverStation *does* support the protocol, and can successfully connect for Comms.  However, it flashes the "No Robot Code" error upon an attempt to enable.  This isn't needed upon using the old vanilla DS or the "FRC Drive" mobile app.

[2016-08-13 17:34] alex-spataru commented on #31
Thanks for the information! I will change the 2014 protocol implementation to fix your issue.

[2016-08-13 17:37] MC42 commented on #31
Thanks so much!

[2016-08-16 20:21] alex-spataru commented on #31
I made a patch to the 2014 protocol implementation, which should fix your issue (not detecting robot code). I will draft a new release and reference it in this thread when finished.

Thanks for the report!

[2016-08-16 21:25] alex-spataru commented on #31
The fixed version is available [here](http://github.com/frc-utilities/qdriverstation/releases/latest). I hope it works nicely for you!

[2016-08-16 22:05] MC42 commented on #31
Thanks so much!  I'll test it (again :P) next time I'm in the shop!

[2016-08-24 02:05] alex-spataru opened #32 "Introducing LibDS-C"
**TLDR;** check [this](https://github.com/frc-utilities/libds-c) out (feedback is welcome!).

Hello,

For those who don't know, LibDS is the core of all QDriverStation projects, it handles the communications between the robot, the FMS and the client application and implements all the code required for dynamic protocol loading.

During the last weeks, I have been working on an new implementation of

[2016-09-02 17:27] bman12three4 opened #33 "Changing Rio Address to an invalid address causes crashes"
I changed the rio address from roboRIO-5482-FRC.local  to roboRIO-5482-FRC.local:22 and the application crashed, and it keeps crashing every time I try to reopen it.

[2016-09-02 17:37] BearzRobotics commented on #33
What version are you using? Try opening it from the command prompt/Terminal
to see what is happing. Plus if your version is new a enough you have a log
file in
(Windows) C:\Users\<Name>\.qdriverstation
(Linux And probably Mac) /home/<user Name>/.qdriverstation

Sincerely:
i:a man Dakota James Owen of the family Keeler am an ambassador for Christ

On Fri, Sep 2, 2016 at 1:27 PM, bman12three4 <notif

[2016-09-02 18:57] alex-spataru commented on #33
The address you gave is invalid (you should not specify a port in the custom address). The QDriverStation crashes when trying to find the IP of the address that you gave.

I can help you to reset the settings of the QDriverStation, but I need to know which operating system are you using (the procedures are a bit different for each OS).

Thanks!
________________________________
From: bman12three4<m

[2016-09-02 19:19] bman12three4 commented on #33
I am using Mac OS 10.10.5, and the latest version of qDriverStation

[2016-09-02 19:20] bman12three4 commented on #33
[2016_09_02 15_19_43 Fri.txt](https://github.com/FRC-Utilities/QDriverStation/files/452752/2016_09_02.15_19_43.Fri.txt)
Here is the log file

[2016-09-03 02:50] alex-spataru commented on #33
Thanks for the information!

To reset the settings of the QDriverStation (which will fix the crash), open a Terminal and type the following:

Sorry for the late reply, I can only access the Internet with mobile data for the moment (which is slow and expensive with Telmex).
________________________________
From: bman12three4<mailto:notifications@github.com>
Sent: ‎9/‎2/‎2016 14:30
To: FRC-Utilities

[2016-09-06 14:57] bman12three4 commented on #33
hmm, It says it reset but is still giving me a segmentation fault whenever I try to run it.

[2016-09-06 15:25] alex-spataru commented on #33
I ran into this issue too, resetting the QDriverStation and rebooting the computer worked for me. I believe that OS X has a "settings cache" feature or something similar, which prevents a full reset of an application.

I will upload a new release of the QDriverStation which ignores faulty addresses. However, this may take a while,  since I have very limited access to the Internet right now.
______

[2016-09-07 00:54] ThePlasmaGuy opened #35 "QDS crashes upon opening sub-window after attempting roborio connection."
I installed QDriverStation last night, and all seemed to work well.  However, I didn't have an FRC Robot to test connection, so I waited until our meeting today.  After connecting to the robot's wifi and opening QDS, absolutely nothing happens.  And to make matters worse, QDS now refuses to open any context windows.  If I try to open up the QDS settings or the virtual joystick menu, QDS crashes.

[2016-09-12 02:42] calebeby opened #37 "module "QtQuick.Controls" is not installed"
When I run `qdriverstation`, I get this:
[code]

I don't know how to install QtQuick.Controls.

[2016-09-13 02:23] alex-spataru commented on #37
Hello, check that you have the following packages installed in your system:

- libqt5gui5
- libqt5qml5
- libqt5quick5
- libqt5widgets5
- libqt5network5
- libqt5multimedia5
- libqt5declarative5
- qml-module-qtquick2
- qml-module-qtquick-window2
- qml-module-qtquick-layouts
- qml-module-qtquick-controls
- qml-module-qt-labs-settings

The QDriverStation is tested with Ubuntu 15.10 and above. If you a

[2016-09-13 02:30] calebeby commented on #37
I am running arch, and the AUR thing didn't work.

[2016-09-13 02:31] calebeby commented on #37
Now, I'm re-running the install, it looks like it's getting farther than it did yesterday.

[2016-09-13 02:32] lopsided98 commented on #37
I just fixed that a couple of days ago, so it should install now.

[2016-09-13 02:35] lopsided98 commented on #37
I just realized that I forgot to fix the -git package, if that's what you're running then it still won't work. I'll fix it right now.

[2016-09-13 02:36] calebeby commented on #37
Yeah, yesterday I was installing the -git package, today the qdriverstation package is getting farther.

[2016-09-13 02:39] alex-spataru commented on #37
@lopsided98 If you need the full list of dependencies (build & release), check the [Snapcraft](https://github.com/FRC-Utilities/QDriverStation/blob/master/etc/deploy/linux/snapcraft/snapcraft.yaml) build config, it contains every dependency required to use the QDriverStation.

[2016-09-13 02:45] lopsided98 commented on #37
The -git package should work now.

[2016-09-13 02:46] calebeby commented on #37
The not -git package worked, I did not test the -git one. This looks really cool, except that I'm in a tiling WM (i3). What happens when the window is too big for the DS is it jumps up and down. I had to make the window a floating window to make this stop. Maybe you can make it just stick to the bottom of the window?

[2016-09-13 02:48] alex-spataru commented on #37
You have an option to "dock" the window in a manner similar to the official DS...maybe it could work for you.

I have never used i3 or tested QDS on it, so my assumption could be wrong.

[2016-09-13 02:50] calebeby commented on #37
When it is jumping up and down it is nearly impossible to click the button to dock it.

[2016-09-13 02:51] calebeby commented on #37
When I am able to click the dock button it only makes the hum sound, but does not dock. i3 overrides the window's dimensions if the window is tiled (which, by default, it is).

[2016-09-13 02:55] alex-spataru commented on #37
Maybe we can tweak the window flags to fix your issue, however, its up to the WM to respect those flags.

[2016-09-13 02:57] calebeby commented on #37
I think it's OK if it's tiled by default, as long as it the content doesn't
jump up and down.

On Mon, Sep 12, 2016 at 7:55 PM, Alex Spataru <notifications@github.com>
wrote:

[2016-09-14 23:40] ThePlasmaGuy commented on #35
Totally forgot about this issue.  I was able to get it to work by closing down QDriverStation, rebooting my computer, and then waiting.  I tried resetting QDS but that didn't really help, I guess I just had to let it sit and then it started working again lol.  Once I could get the dialog to open, setting the default IP worked fine.

[2016-09-14 23:40] #35 closed

[2016-09-14 23:43] ThePlasmaGuy commented on #26
The 2014 protocol does support the CRIO on that firmware, right?  Trying to get my Mac working with an older robot we use as an outreach robot, and I can ping the robot but it won't connect via QDS (on any protocol, and I did set the default IP to the robot's IP)

[2016-09-16 01:13] alex-spataru commented on #26
@ThePlasmaGuy The QDriverStation supports the FRC 2014 Communication Protocol. If I recall correctly, you may need to change your computer's IP address manually to be able to communicate with a non-simulated 2014 robot.

[2016-09-16 01:15] alex-spataru commented on #37
@calebeby To keep things organized, I will create a new issue with your WM's problems and mention you there.

[2016-09-16 01:15] #37 closed

[2016-09-16 01:18] alex-spataru commented on #35
Glad it worked! Thanks for trying out the QDS!

[2016-09-16 01:33] alex-spataru opened #38 "Problems with i3 window manager"
In a previous issue, @calebeby mentioned that the QDriverStation does not behave as expected with the i3 window manager.

Has anyone else experienced issues with i3 and the QDS? If so, what have you done to fix your issue? What solutions would you suggest?

@calebeby Could you please upload your latest log of the QDS? (they are located in `~/.qdriverstation/`)

[2016-09-16 02:11] calebeby commented on #38
https://gist.github.com/calebeby/57f5b54b707323005bfe9a956b9e2c9f

[2016-09-16 02:23] alex-spataru commented on #38
Thanks!

I have found the following warnings (which could be relevant in this case):

[code]

QML did not report anything wrong with the window geometry, maybe manually setting some window flags during app initialization could fix this issue (comments are welcome).

[2016-09-16 02:41] calebeby commented on #38
Sure, I have no idea how window flags work, but if you want me to test something I can.

[2016-09-16 02:49] calebeby commented on #38
Maybe this part is relevant?

[code]

[2016-09-16 03:09] alex-spataru commented on #38
Sure! I will write to this thread when I make a change to the window flags or when I get a chance to test the QDS with i3.

In this part:
[code]
QML complains about some ugly hacks that I did to implement the joysticks tab. It should not affect the window size at all.

[2016-09-16 21:55] bman12three4 commented on #33
I fixed this issue manually by changing the settings to report back a valid IP, then ran the program. This seemed to clear it and then I reverted the code back and the program ran stable again. I will make sure to only use valid IP's from now on!

[2016-09-17 02:54] ThePlasmaGuy commented on #26
@alex-spataru yeah I tried doing that and for some reason it still wouldn't connect.  Idk, the number of problems with connection I'm having it makes me think it's probably my network card or computer and not QDS.  Either that, or I just haven't figured out the trick to QDS yet lol 😂

[2016-09-17 04:18] alex-spataru commented on #26
Yeah, I find it quite strange that the robot does not respond to the QDS packets, could you upload your latest log file (you can find them in `~/.qdriverstation/`). Maybe this could help us see what is wrong :+1:

[2016-09-17 04:25] alex-spataru commented on #33
Glad to hear that! I will improve the address validation filter as I integrate the new LibDS-C with the QDriverStation to avoid similar crashes. I will keep you notified :+1:

[2016-10-06 19:54] #33 closed

[2016-10-18 02:14] primetoxinz opened #39 "QDriverStation unable to establish connection with roboRIO"
Specs:
Arch Linux 4.7.6-1
QDS Commit [9393cc2](https://github.com/FRC-Utilities/QDriverStation/commit/9393cc2115ef63a6987d6e91c6f2babf73009fee) built from the [AUR](https://aur.archlinux.org/packages/qdriverstation-git/)
RoboRIO Firmware: unknown currently, likely last 2015 version

Today I tested connecting to the roboRIO with QDS for the first time.
The wireless connection was successfull and th

[2016-10-18 11:33] BearzRobotics commented on #39
I would suggest looking at the log file(s) in '~/.qdriverstation/'

Sincerely:
i:a man Dakota James Owen an ambassador for Christ.
* ALL RIGHTS RESERVED*

On Mon, Oct 17, 2016 at 10:14 PM, Tyler <notifications@github.com> wrote:

[2016-10-18 19:54] primetoxinz commented on #39
[here](http://pastebin.com/5N1cB6Jh) is the log for the first attempt to use QDS

[2016-10-18 20:37] bman12three4 commented on #39
Just to piggy-back on this, this occasionally happens to me as well. The solution for me is to delete the app from my computer and reinstall it, and that works for a couple more times.

[2016-10-18 23:41] primetoxinz commented on #39
hopefully will be able to try the reinstall trick tomorrow, would still be nice to know the cause of this and possibly find a fix, if it does work.

[2016-10-19 00:12] BearzRobotics commented on #39
It looks like first a problem with the
QNetworkReplyImplPrivate. Second it looks like a hex value is trying to be
read as a function.

Third this right here looks like QObject::disconnect needs a parameter but
non was given.
"QObject::disconnect: Unexpected null parameter"

I believe this is the underlying problem.  Tomorrow  i will email Alex
directly to get his attention.
=======================

[2016-10-19 00:40] alex-spataru commented on #39
Sorry for the late response, I just got back from school right now.

There are several possible causes for your issue:

- The robot is already connected to an existing DS (QDriverStation or FRC Driver Station) instance, make sure that that the Driver Station is not opened on another computer in your LAN (or robot network)
- For some reason, the mDNS lookup(s) fail and cannot find the robot (try us

[2016-10-19 18:23] primetoxinz commented on #39
I inpu

[2016-10-19 18:23] #39 closed

[2016-10-19 23:40] alex-spataru commented on #39
@primetoxinz Glad you've got it to work. Getting mDNS to work on every OS is not so easy, even when the QDriverStation has its own fallback implementation of mDNS. Hopefully one day we'll be able to make it work seamlessly 👍

[2016-11-19 18:18] RikuKawai opened #40 "Joystick mappings are wrong"
Joystick mappings for the Logitech F310 are incorrect in QDriverStation, but are correct in jstest-gtk.
Debian Stretch x86_64, Linux 4.7, QDriverStation 16.10.

They should be as follows, which matches what they are under Windows and in the robot code:

- Axis 0: Left Stick X
- Axis 1: Left Stick Y
- Axis 2: Left Trigger
- Axis 3: Right Stick X
- Axis 4: Right Stick Y
- Axis 5: Right Trigger

In Q

[2016-11-19 20:02] alex-spataru commented on #40
Hi!

This issue has been present for a [very long](https://github.com/FRC-Utilities/QDriverStation/issues/2) time. Since we use SDL for cross-platform joystick support, we (unfortunately) depend on the mappings provided by SDL.

For the moment, I think that the smartest way is to implement a way to allow the user to re-map the joysticks (and possibly sharing the *fixed* mappings with the community

[2016-11-20 04:16] everylittlebit commented on #40
Can confirm, Same issue on our Logitech Attack 3's

[2016-11-20 04:44] alex-spataru commented on #40
Thanks for the confirmation! I will try alternative options to SDL, such as [Gainput](http://gainput.johanneskuhlmann.de). Ultimately, I think that the best way to standardize joystick input across operating systems will be to allow users to manually re-map joysticks on the fly...

[2016-11-20 04:45] alex-spataru commented on #2
Closing this issue to avoid duplication with issue #40.

[2016-11-20 04:45] #2 closed

[2016-11-24 21:47] everylittlebit commented on #40
Interestingly, the output from QJoysticks is different from the output of [sdl-jstest](https://github.com/Grumbel/sdl-jstest), but only on one axis

[2016-11-28 01:10] fovea1959 opened #41 "Missing DLLs"
Running qdriverstation 16.08 on Win 7 results in "The program can't start because api-ms-win-core-libraryloader-l1-2-0.dll is missing from your computer.  Try reinstallation the pogram to fix this problem.".

What are the prerequisites for running this?

[2016-11-28 14:32] alex-spataru commented on #41
As far as I know, the Windows installer comes with all the dependencies of the QDriverStation. I have found online that this issue can be solved by installing the DirectX End-User Runtimes (http://www.microsoft.com/en-us/download/confirmation.aspx?id=8109).

Anyways, I will check how the QDriverStation runs on a vanilla install of Windows 7. There is a possibility that I have failed to include som

[2016-11-29 00:01] fovea1959 opened #42 "Unable to build on rPi"
got a good(?) build on x64. Trying to build on rPi/raspbian.

qmake yields:
    Project ERROR: Unknown module(s) in QT: quick qml

I have installed every package I could find that looked applicable; what does it take to build this on raspian?

[2016-11-29 00:21] BearzRobotics commented on #42
from the snapcraft
<https://github.com/FRC-Utilities/QDriverStation/blob/master/etc/deploy/linux/snapcraft/snapcraft.yaml>
file these are the dependency it needs to build in a containerized snap.
Hope it help, Thursday I can try and set up my raspberry pi 3 and try to
compile it.

- libsdl2-dev
- qtbase5-dev
- qttools5-dev
- build-essential
- libqt5webkit5-dev
- qtmultimedia5-dev
- qtdeclarative5-

[2016-11-30 00:25] bybin commented on #26
So I installed QDS on my ubuntu 16.04 box, and it connects to the joysticks fine, but it won't connect to the robot, I tried running it as root and as a normal user with no luck, is there anyway I can fix this? It also doesn't seem to give me any errors.

[2016-11-30 23:41] fovea1959 commented on #42
Have the same problem on my home ubuntu x64 system. work ubuntu system is fine.

have installed every package from the snappackages list above on home system, problem persists....

[2016-12-01 01:15] alex-spataru commented on #42
Sorry for the late reply, I have been somewhat busy lately. Your error occurs because you do not have the QML/Quick module installed, which is used by the QDriverStation to draw the UI.

I will check if rPi has a package for QML available. If not, you can still try the Console DS, which has [minimal dependencies](https://github.com/FRC-Utilities/LibDS/tree/master/examples/ConsoleDS#dependencies) (

[2016-12-01 01:19] alex-spataru commented on #40
@everylittlebit This can happen because QJoysticks uses SDL2 instead of SDL.

[2016-12-01 01:23] alex-spataru commented on #26
@bybin Thanks for the feedback! Did you try to specify your robot's static IP in the settings dialog? The whole mDNS thing is broken with Qt....Hopefully the C version of LibDS might fix these kind of issues.

[2016-12-01 12:59] fovea1959 commented on #42
I am trying to track the issue down on my x64 Ubuntu also; the package must be available there because it builds fine on one of my Ubuntu machines, but not the other. Trying to figure out which package is missing.

[2016-12-01 15:37] fovea1959 commented on #42
If you have multiple version of QT installed, you need to force qmake to use Qt5.

    QT_SELECT=qt5 qmake

on my offending x64 system, qt4 seemed to be the default, and I don't think qt4 had all the pieces.

Probably need to update the build instructions. Will try this on rPi tonight.

[2016-12-01 15:47] fovea1959 commented on #42
Alex: how to build stuff in LibDS? Not familiar with .pro files.

[2016-12-02 01:05] alex-spataru commented on #42
Thanks for the hint! I will modify the project to force Qt5 usage by default.

[2016-12-02 11:06] fovea1959 commented on #42
on rPi, needed to apt-get install qml-module-qtquick-control, I believe.

     QT_SELECT=qt5 qmake; make

worked fine.

Resultant executable won't run.

[2016-12-02 21:47] bybin commented on #26
@alex-spataru So is there anything I can do right now, or should i just wait for this to get fixed? The only thing called libDS was from 2002 and didn't do anything to help, is there something else I should be looking for?

[2016-12-03 20:53] alex-spataru commented on #26
@bybin You can find the code for LibDS here:
- C version (which will be used of the next version of QDS): https://github.com/FRC-Utilities/LibDS
- Qt/C++ version (used by the current version of QDS): https://github.com/FRC-Utilities/LibDS-Legacy

The only thing you can do for now is to specify the robot's static IP in the settings dialog (you can open it by clicking the little gear icon in the bot

[2016-12-03 22:26] alex-spataru opened #43 "QDriverStation support moving to Gitter!"
Many of the issues created through GitHub can be solved (or discussed) in Gitter, so I'm switching our official communications/support/ideas channel to use Gitter instead.

If you are interested to contribute to the QDriverStation and discuss new ideas, please join the room!

https://gitter.im/FRC-Utilities/QDriverStation

[2016-12-30 15:07] #43 closed

[2016-12-30 15:09] alex-spataru commented on #16
The UI code of the QDriverStation was overhauled since this issue was opened. @makahn If you experience problems with the latest version of the QDriverStation, feel free to open another issue!

[2016-12-30 15:09] #16 closed

[2017-01-12 03:55] ArtificialAmateur opened #45 "No robot communication"
After connecting to the radio AP through a laptop running Linux Mint QDriverStation does not detect any robot communication, but the official version on a Windows laptop does.

[2017-01-12 04:41] alex-spataru commented on #45
It is possible that your distro does not come with a package to handle mDNS requests correctly, or that Qt has problems interacting with the mDNS equivalent on your system.

To fix your issue, try to specify your robot's static IP in the settings dialog (you can open it by clicking the little gear icon in the bottom-right corner of the main window). For example, my team's robot IP was (if I recall

[2017-01-12 04:46] Qormix commented on #45
The default address for the Rio should be 10.XX.YY.20

 Try opening up your terminal and pinging roborio-XXYY-frc.local this will let you know if mDNS is part of you Linux distro.

[2017-01-13 07:22] ArtificialAmateur commented on #45
I have avahi installed by default. I cant find the roboRIO ip nor the webdashboard ip.

[2017-01-14 03:59] Qormix commented on #45
which version of mint do you have installed I'll see if I can reproduce this on one of my laptops

[2017-01-15 20:46] alex-spataru commented on #45
@ArtificialAmateur I will upload a new release later today, which should fix your communication issues by using native functions. Also, please ensure that you click the 'Close' button in the settings dialog to save and apply your changes. I have clarified the button labels in the new release, since this was a very common mistake by some users.

[2017-01-17 15:06] Masterzach32 opened #46 "QDriverStation recognizes joysticks but does not receive inputs (MacOS only)"
Title. We have tried two different computers (one on sierra and one on mavericks), a logitech attack 3 and logitech attack 3d.

Anyone else experiencing this issue?

[2017-01-17 15:43] ArtificialAmateur commented on #45
Found out you have to powercycle the roboRIO while QDriverStation is open.

[2017-01-18 13:18] alex-spataru commented on #46
Thanks for the report! Could you please upload your log file? (you can find them in ~./qdriverstation). Also, did you try to use any other joystick (e.g. an Xbox controller) with your computers?

[2017-01-18 14:45] Masterzach32 commented on #46
Yes, I will be at our team's shop tonight, so I will do it then, but the Logitech Attack 3 and 3D are unfortunately the only joysticks we have. Ill ask someone to bring an xbox controller tonight.

[2017-01-18 15:02] alex-spataru commented on #46
I replicated your issue, I will upload a patch in a few moments. Thanks for the report!

[2017-01-18 15:36] alex-spataru commented on #46
I released another version which fixes your issue. You can update the QDriverStation just by opening it when you have an Internet connection or by downloading it from here: https://github.com/FRC-Utilities/QDriverStation/releases/latest

Just to be sure, could verify that the new version works for you too before closing this issue?

[2017-01-18 22:33] Masterzach32 commented on #46
Works like a charm. Thank you!

[2017-01-18 22:33] #46 closed

[2017-01-23 03:01] ArtificialAmateur commented on #45
roboRIO no longer connects with new version.

[2017-01-23 23:45] alex-spataru commented on #45
@ArtificialAmateur Could you please upload a log file?

[2017-01-26 16:28] quillford opened #47 "smartdahsboard not working"
smartdashboard worked fine with the 2016 control system and the qdriverstation 16, but it's not working with the 2017 control system and qdriverstation 17

[2017-01-27 02:21] alex-spataru commented on #47
Hello, could you please describe what part of the SmartDashboard is not working? (e.g. if the QDriverStation does not open the SmartDashboard).

Thanks!

[2017-01-27 02:22] quillford commented on #47
it doesn't open. if i manually open it, nothing comes up.

[2017-01-27 02:27] alex-spataru commented on #47
Thanks, it is possible that the location of the SmartDashboard has changed. Just to be sure what is happening, could you upload one of your log files here?

[2017-01-27 02:30] quillford commented on #47
https://hastebin.com/kacozeboba.sql

[2017-01-27 02:30] quillford commented on #47
that's from 17.01.1

[2017-01-27 02:39] alex-spataru commented on #47
Judging from the log file, it seems that QDriverStation tries to open your dashboard and does nothing, which probably means that the dashboard location or command has changed. I'll look at this issue tomorrow morning.

Thanks for the report!

[2017-01-28 16:26] Qormix commented on #45
I'm seem to be experiencing the same issues with Ubuntu and with the 2017 robot update. QDriverstation works fine on windows and the 2017 update. A combination of restarting the rio and qdriverstation. switching between mDNS and static will get it to connect eventually.

[2017-01-28 18:07] chackotaco commented on #45
connecting rarely works for me. I was only able to get it to connect once, and I'm not sure how...

Some odd behavior I am able to consistently reproduce:
If you open qdriverstation from the command line, and then open another instance of qdriverstation at the same time from the command line, one the the qdriverstations will successfully find the robot for a few seconds...  I could verify this by

[2017-01-28 20:48] Qormix commented on #45
I've also found that. the console output works.

[2017-01-30 00:54] alex-spataru commented on #45
@Qormix @chackotaco Was the QDriverStation able to connect previously to the 2017 robots? I suspect that this is an issue with the socket flags under Linux or something...

[2017-01-30 19:24] chackotaco commented on #45
I was never able to get qdriverstation on 2017 robots to connect except for one instance.. which is frustrating from a debugging standpoint. The 2016 robots and 2016 qdriverstation worked consistently however.

[2017-01-30 20:25] Qormix commented on #45
I'll have a chance with a rio tomorrow I'll get you some logs then.

[2017-01-31 20:55] snapp-development commented on #45
I am also unable to communicate with our RoboRios falshed with the 2017 firmware. I am using macOS Sierra Version 10.12.2. I attached my logs if
[logs.zip](https://github.com/FRC-Utilities/QDriverStation/files/743153/logs.zip)

 that helps.

[2017-02-02 04:18] alex-spataru commented on #45
@Qormix @chackotaco @snapp-development Thanks for the logs and information! I think that this issue has something to do with how LibDS resets the sockets when a watchdog expires. I will send you some experimental builds for Ubuntu to check if that fixes the problem.

[2017-02-07 06:28] rolylolypoly commented on #45
So I'm just going to document my struggle here real quick:
If your RIO's Comm light is green, but your DS status lights are red, run QDS as sudo.
If you are also using Smartdashboard, you have to run that seperately as sudo.

[2017-02-11 06:06] alex-spataru commented on #45
@Qormix @chackotaco @rolylolypoly @snapp-development Sorry for the late reply, I was really busy during the last weeks. Could you try to install [this build](https://1drv.ms/u/s!ApwzDE01ByurhzVdsw4tvJrF08Jn) of the QDriverStation and report how it behaves?

[2017-02-11 15:50] Qormix commented on #45
Can't get the build to install. Missing dependencies qt58base, qt58declarative.

[2017-02-11 15:59] Qormix commented on #45
Anyways built if from src. Seems to be working.
[10_53_17 AM.txt](https://github.com/FRC-Utilities/QDriverStation/files/768597/10_53_17.AM.txt)

[2017-02-11 20:13] snapp-development commented on #45
I'm also having trouble with missing dependencies. I attempted to build from source but on Debian I still have no communication.

[2017-02-11 21:22] alex-spataru commented on #45
Sorry, it seems that the build script called Qt 5.8's qmake instead of qt5-qmake, i'll fix that in a moment.

[2017-02-12 01:23] alex-spataru commented on #45
Here is the fixed Debian package: https://1drv.ms/u/s!ApwzDE01ByurhzYnQ75laNnvNVfG

[2017-02-12 20:50] alex-spataru commented on #45
@rolylolypoly  @Qormix  @snapp-development  Does the new version work consistently? Or do you still experience communication issues?

[2017-02-14 15:49] alex-spataru commented on #45
I think I found the issue, it has to do with how sockets where closed by the QDriverStation.

Could anyone try this build (https://1drv.ms/u/s!ApwzDE01ByurhzgD8eRy_Nc5x3Yo) to check if that fixes the problem?

[2017-02-14 16:12] snapp-development commented on #45
@alex-spataru I will try to install it on a Debian machine at some point today to test.

[2017-02-14 16:59] alex-spataru commented on #45
@snapp-development I just found out that the build script added some Yakkety-specific depedencies. Please download this build instead (to avoid dependency issues): https://www.dropbox.com/s/4ocsq7f56dwoxbu/qdriverstation_17.02_generic.deb?dl=0

[2017-02-16 01:00] BearzRobotics opened #48 "No z Axis"
On the Logitech joystick that came with the kit of parts a few years back, QDriverStation can't read the z value of the controller.

[Logs](https://github.com/FRC-Utilities/QDriverStation/files/778800/Wed.15.zip)

[2017-02-18 20:12] alex-spataru commented on #48
Hello, did you try to test the joystick with other applications (such as the official FRC Driver Station)?

[2017-02-18 20:22] BearzRobotics commented on #48
Yes, it works fine in the official driver station. It also didn't work in the [robotpy](http://robotpy.readthedocs.io/en/stable/) simulation which uses pygame (which uses sdl for joystick input.)

[2017-02-19 07:23] #25 closed

[2017-02-19 07:23] #32 closed

[2017-02-19 07:26] alex-spataru commented on #48
It is possible that this issue can be fixed by registering your joystick to the [database](https://github.com/FRC-Utilities/QDriverStation/blob/master/lib/QJoysticks/etc/resources/SDL/Database.txt) file. Could you tell me the exact model of your joystick please?

[2017-02-19 07:31] alex-spataru commented on #42
@fovea1959  Sorry for the (very) late reply. Could you try to build the [latest](https://github.com/FRC-Utilities/QDriverStation/archive/master.zip) version of the QDriverStation? Also, ensure that you have the dependencies mentioned by @BearzRobotics installed on your system.

[2017-02-22 05:28] alex-spataru commented on #26
@bybin If you haven't already, try the [latest version](https://github.com/frc-utilities/qdriverstation/releases/latest) to see if it fixed your issue. If not, please refer (or report problems) in issue #45.

[2017-02-22 05:28] #26 closed

[2017-02-22 05:29] #31 closed

[2017-04-16 05:02] alex-spataru commented on #45
Any updates on this issue whatsoever? Since I don't have access to any FRC robots near my area (moved to another city for college), I rely on the information and feedback given by users of the QDS to fix comm. related issues.

[2017-05-12 22:54] calebeby commented on #45
@alex-spataru That build worked for me. Thanks!

[2017-05-12 22:55] calebeby commented on #45
Could you put that on the releases page so people install it rather than 17.01.1?

[2017-05-13 04:53] alex-spataru commented on #45
@calebeby Thanks for the information! I'll draft a new release soon!

[2017-05-17 05:14] alex-spataru commented on #45
I just released a new version of the QDriverStation, hopefully it fixes these issues.

[2017-05-17 15:01] BearzRobotics commented on #45
I'll try to get it packaged this weekend for solus.

On Wednesday, May 17, 2017, Alex Spataru <notifications@github.com> wrote:

--

Sincerely:
i:a man Dakota James Owen of the Family Keeler.
* ALL RIGHTS RESERVED. **WITHOUT RECOURSE. WITHOUT PREJUDICE.*

[2017-05-21 20:20] scottm314 commented on #45
I am having an issue with connecting the robot (No Robot Communications).  I am running OS X 10.12.4.  I can deploy code with eclipse and I can ping the roborio.  I have been following this chain for a while and waited for the 17.05 program before posting.  I am connected through ethernet.  The interesting thing is that I connected a windows PC using the official drive station through the USB conn

[2017-05-22 12:42] alex-spataru commented on #45
@scottm314 For some reason the robot address keeps changing to an empty or invalid IP, also, it seems that the robot address was set to 0.0.0.0 when launching the QDriverStation. Are you sure you clicked the Apply button when testing the likely robot IPs?

[2017-05-23 00:51] scottm314 commented on #45
It is a good question, it would not be the first time I forgot to do something like that!  But, in this case, I am sure that I hit the apply button.  I did a ping after each change to make sure that I was connected t to the roborio.

I did notice the 0.0.0.0 and was also interested to see that the program "Remembered" the team number between updates, even when I  deleted the entire old version dir

[2017-07-24 02:20] #48 closed

[2017-08-25 02:13] Tommsy64 commented on #45
I am having a similar issue as @scottm314. Full log file [here](https://pastebin.com/9H4JZ8A5). (Running OSX 10.12.6, roboRIO 2017)
[code]

I can ping the roboRIO through mDNS, SmartDashboard connects, and I can deploy robot code.

The robot address in the settings window appears to reset every time I open the client, even after hitting both **Apply** and **Ok**.

[2017-08-25 03:18] Tommsy64 commented on #45
I just compiled the ConsoleDS with the roboRIO's IP and it connects without errors.

[2017-08-26 00:30] alex-spataru commented on #45
@Tommsy64 Judging from the log file, you set a custom IP for the radio, not the robot (lines 39 & 40). Could you please try to check your settings window and see if the custom IPs are set correctly?

[2017-08-26 03:58] Tommsy64 commented on #45
Oops! Setting the IP for the *robot* works; however, I have to turn on QDriverStation on a separate WiFi network and then switch to the robot's network for it to establish comms.

Turning on the driver station while connected to the robot's network—even switching back and forth between other networks—does not work. [Log](https://pastebin.com/e123vMgp). Nevertheless, this will be sufficient.

[2017-08-28 15:24] alex-spataru commented on #45
@Tommsy64 That's good news! Hopefully the issue is not so complex...does the QDriverStation manage to connect directly to your robot now?

[2017-08-31 21:20] bornamm commented on #45
i installed the QDriverStation and for some reason i can't get any communication with the bot. i tried reading other users issues but i simply couldn't figure anything out.

Log created on:      Aug 31 2017 - 14:16:27 PM
LibDS version:       2.2
Operating System:    OS X 10.12
Application name:    QDriverStation
Application version: 17.05

----------------------------------------------------------

[2017-09-01 05:06] alex-spataru commented on #45
@bornamm You are using the 2015 communication protocol, which is essentially the same as the 2016 protocol, but with a different robot address. Try switching to the 2016 protocol, if mDNS does its job, the QDriverStation should be able to communicate with your robot. If not, ping your robot from terminal to obtain the robot's IP, and input the obtained IP in the 'custom robot address' field in the

[2017-09-01 17:30] bornamm commented on #45
What should i type in the mac terminal to ping it? (ping roboRIO-####-FRC.local where #### is the team number?) also what does this pinging do?

[2017-09-01 21:15] bornamm commented on #45
So I pinged it n got the IP address for the bot n changed the ip adress on the qdriver station, n it still got no robot communication with this log:

Log created on:      Sep 01 2017 - 14:07:20 PM
LibDS version:       2.2
Operating System:    OS X 10.12
Application name:    QDriverStation
Application version: 17.05

------------------------------------------------------------------------
ELAPSED T

[2017-09-01 22:00] alex-spataru commented on #45
@bornamm Thanks! (and sorry for not responding to your first message) We now know that mDNS is not to blame for your communication issues.

If possible, please:
- Verify that no one else is connected to the robot
- Verify that there are no other instances of the QDS running on your computer

From the logs that I received, it seems that most communication issues are happening under Mac OS Sierra. C

[2017-10-11 23:00] edelmanjm commented on #40
Still having this issue on macOS High Sierra 10.13. I agree with @alex-spataru that the best solution seems to be to allow the user to remap the controls. Unfortunately AFAIK [360Controller](https://github.com/360Controller/360Controller) doesn't contain any way to remap axes, only buttons.

[2017-10-24 15:28] BearzRobotics opened #50 "Netconsole enhancements"
1) adding color codding to the netconsole out put. for example when error or [error]: is printed out it is displayed in red. When warning or [warning]: is printed out it is displayed in yellow.

2) saving the netconsole out put to a text file. under the ~/.qdriverstation file having a folder called netconsole that corresponds in layout to the logs folder. So you would have version month, ect but t

[2017-10-24 20:30] BearzRobotics opened #51 "Netconsole"
So in my effort to print to the netconsole, I have it working in 17.01.1 but not in 17.05. Is it no longer prints to the message window.
[logs.zip](https://github.com/FRC-Utilities/QDriverStation/files/1412415/logs.zip)

[2017-10-29 17:29] OttoDeLupe opened #52 "Robot code not detected"
I'm running 17.05, downloaded as a .deb on Ubuntu 16.04.

When starting, comms are established with the rio, but I get the following in the logs:
00:00.6        DEBUG         DS Events: Robot code status set to false

I'm able to deploy the java code from eclipse to the rio just fine. So, am not sure what might be going on. Also, as far as I can see, if my code what throwing an exception, there's

[2017-10-29 19:37] alex-spataru commented on #52
Thanks for the feedback, it may be possible that you have selected the wrong DS protocol version from the settings tab. To clarify the cause of your issue, could you please upload the full log? (You can find them in ~./qdriverstation, or by clicking the "Logs..." button in the console section).

[2017-10-29 21:01] OttoDeLupe commented on #52
Log file as requested:

Log created on:      Oct 29 2017 - 13:26:07 PM
LibDS version:       2.2
Operating System:    Ubuntu 16.04.3 LTS
Application name:    QDriverStation
Application version: 17.05

------------------------------------------------------------------------
ELAPSED TIME   ERROR LEVEL   MESSAGE
------------------------------------------------------------------------
00:00.3        DE

[2017-11-01 00:24] alex-spataru commented on #52
Thanks! Unfortunately it seems that the issue has something to do with QDriverStation, I will check the protocol code later this week. I have to finish some freelance work these days.

[2017-11-01 10:21] OttoDeLupe commented on #52
Thank you - sorry for the delay in responding. - I've been dealing with the effects of a wind storm that took out electricity for a few days.

Further data point - with 2016 protocol, I do get robot comms. With 2015 and 2014, there is no robot comms. You probably know that (given the log file), but just wanted to let you know.

[2017-11-03 20:36] OttoDeLupe commented on #52
Found myself at work today with some extra time, so I took a dive in. Here's a long shot guess:

frc_2015.c line 71, uint8_t cRobotHasCode = 0x20
Since cRobotHasCode is a uint8_t, this will truncate the supplied 16bit value, resulting in cRobotHasCode getting set to zero.

In read_robot_packet(), line 642, this zero value gets AND'd  to the status bits, resulting in the robot's code status getting

[2017-11-04 20:55] alex-spataru commented on #52
Thanks for the information, I will check again the 2015 protocol implementation (I did not check that code for almost a year :laughing:).

[2017-11-23 00:03] alex-spataru opened #53 "QDriverStation and LibDS development stopped"
I am the primary developer of the QDriverStation and all its related projects. Unfortunately, because of work and college, I won't be able to continue working on this project. If you (or anyone you know) are interested, you can fork this project to continue its development and give FRC teams the opportunity to operate the robots from almost any device. Also, if you want to join the [FRC-Utilities]

[2017-12-04 00:28] JackToaster opened #54 "Installation fails on Ubuntu 17.10"
I tried to install QDriverstation 17.05, but the installation fails with the following output:
[code]
I have also tried installing older versions, but the installation fails in the same way with every version I've tried.

[2017-12-04 02:40] BearzRobotics commented on #54
I presume you tried to install the pre built Deb? If so that Deb file will only work on the version of Ubuntu it was built on. The reason for this is because during the installation it won't be able to find the correct version of dependency . The problem with just letting it install with out the correct version is that the abi of the library could of changed. If this is the case you'll have to com

[2017-12-09 17:24] JackToaster commented on #54
Oh, that makes sense. Compiling from source works just fine for me.

[2017-12-09 17:24] #54 closed

[2017-12-09 19:11] BearzRobotics commented on #54
I was just about to come and see if you were able to get it working. I'm glade your were able to figure it out.

[2018-01-10 12:32] guoxiangyang opened #55 "runtime error in linux"
after succefull make with no error, run the qdriverstation got the error below:

exec from local folder or after sudo make install got the same message
[code]

[code]

[code]

[code]

[2018-01-16 05:11] alex-spataru commented on #55
Your issue is caused because you don't have the QSettings QML module installed, try installing [this](https://packages.ubuntu.com/xenial/libs/qml-module-qt-labs-settings) package or downloading the latest version of the QDriverStation (in AppImage format).

Sorry for the late reply!

[2018-01-16 05:11] #55 closed

[2018-01-16 05:46] guoxiangyang commented on #55
It works!

Thank you very much.

[2018-01-21 22:27] codeNinjaDev opened #56 "Game Specific Message"
Is there the game data for FIRST Power Up, such as the location of the switches and scale?

[2018-01-21 23:09] BearzRobotics commented on #56
There might be, but such info doesn't come from the driverstation. The best place to look would be the  [game manual](https://www.firstinspires.org/resource-library/frc/competition-manual-qa-system). Section 3 Arcade has a break down of the field. Section 3.9 has vision targets that might also be of help.

[2018-01-25 01:47] retrodaredevil opened #57 "QDriverStation detects joysticks but doesn't send to robot"
Information on what I'm running:
Log created on:      Jan 24 2018 - 18:34:53 PM
LibDS version:       2.2
Operating System:    Ubuntu 16.04.3 LTS
Application name:    QDriverStation
Application version: 18.01

The problem is the same as this: https://github.com/FRC-Utilities/QDriverStation/issues/46 except on linux. The log connects, enables, disable the robot fine and the SmartDashboard even works

[2018-01-25 15:40] alex-spataru commented on #57
Could you try to use the virtual joystick to control your robot (and report back the results)? This can help me to know if this is an issue with SDL, or with the LibDS library itself.

Thanks!

[2018-01-27 21:15] retrodaredevil commented on #57
Tested it with virtual joystick and nothing.

[2018-01-28 22:03] eamonniknafs opened #58 "2018 Protocol?"
Will QDriverStation support the 2018 protocol, or is support for new protocols not in development?

[2018-01-29 00:53] BearzRobotics commented on #58
I depends. I don't have access to a robot and I believe Alex doesn't either, since we're both graduated and off to college. So the project is really in maintenance mode.

[2018-01-29 03:06] eamonniknafs commented on #58
Ah, got it. Do you know where I can find documentation about the new protocol? I can probably figure it out and make a pull request when I do.

[2018-01-29 03:15] riftware commented on #58
I'm very interested too...I'm a Java developer that hasn't done much c or
c++ in a while but I might try to take a look at it

On Jan 28, 2018 9:06 PM, "Eamon Niknafs" <notifications@github.com> wrote:

[2018-01-29 05:03] BearzRobotics commented on #58
I'm glad that there is some interest. As for as the 2018 protocol the only thing I could find was [this](https://wpilib.screenstepslive.com/s/currentCS/m/troubleshooting/l/705152-fms-whitepaper). It's for the FMS which uses different ports than when hooked up directly. Other than that, the protocols were reversed engineered using Wireshark by projects before this one. The actual code that communic

[2018-01-31 00:13] fearxzombie commented on #57
Same problem here, on Elementary OS Loki.

[2018-01-31 00:22] HeroCC commented on #58
I could look into preforming a few wireshark dumps from our NI driver station if it would help! 2018 support would be great

[2018-01-31 01:35] BearzRobotics commented on #58
Yee, it would. Anything I do though will have to be tested by someone else.

[2018-02-04 02:24] alex-spataru commented on #57
Sorry for the late reply. Maybe the communication protocol has changed a little bit since last year, hopefully this is not the case.

[2018-02-04 02:28] fearxzombie commented on #57
I think it probably is the case, because the robots I tested it with were 2018 robots

		-Gabriel McMillan

On Sat, Feb 3, 2018 at 6:24 PM -0800, "Alex Spataru" <notifications@github.com> wrote:

Sorry for the late reply. Maybe the communication protocol has changed a little bit since last year, hopefully this is not the case.

—
You are receiving this because you commented.
Reply to this email di

[2018-02-04 02:34] alex-spataru commented on #57
Does your team still have access to 2015-2017 robots? If so, could you please try controling those robots with the QDriverStation?

Unfortunately, I am not into FRC anymore due to college, which makes testing LibDS and QDriverStation very difficult for me.

[2018-02-04 02:35] fearxzombie commented on #57
I do, however it will be a while before I can test it, I will get back to you on that.

		-Gabriel McMillan

On Sat, Feb 3, 2018 at 6:34 PM -0800, "Alex Spataru" <notifications@github.com> wrote:

Does your team still have access to 2015-2017 robots? If so, could you please try controling those robots with the QDriverStation?

Unfortunately, I am not into FRC anymore due to college, which makes te

[2018-02-04 02:39] eamonniknafs commented on #57
I have a 2016 robot and a current one. I’ll check on that on Monday, if no one has by then.

[2018-02-04 02:42] fearxzombie commented on #57
Got it.

		-Gabriel McMillan

On Sat, Feb 3, 2018 at 6:39 PM -0800, "Eamon Niknafs" <notifications@github.com> wrote:

I have a 2016 robot and a current one. I’ll check on that on Monday, if no one has by then.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-02-08 23:03] auscompgeek commented on #56
[It does.](http://wpilib.screenstepslive.com/s/currentCS/m/getting_started/l/826278-2018-game-data-details)

[2018-02-09 05:53] BearzRobotics commented on #56
Okay thanks for the correction. This is not how it was done, in the past. I only gave it a glance right now, but I'll read it through this weekend.

[2018-04-09 21:12] StripedMonkey commented on #58
Is there any progress on this? I'd like to try to work on this if possible but I find networking stuff a daunting task.

[2018-04-09 22:16] jacksondm33 commented on #58
I have done some wireshark dumps recently to try to make the netconsole work.
Other than that and a few other minor problems, everything seems to work in 2018.
Also, most/all the networking is done through LibDS which QDriverStation uses.

[2018-04-09 22:34] jacksondm33 commented on #58
I found that FRC Driver Station is communicating with the robot netconsole over tcp port 1740. I'm not sure if it still does udp port 6666 dumps. If not, I'm not sure when this was changed, but it makes sense to use tcp.

[2018-04-10 19:33] jacksondm33 opened #59 "Submodules"
QDriverStation relies on LibDS and QJoysticks which are two separate git repositories. Instead of just copying the code whenever there is an update, it would be better to make these submodules.

[2018-04-11 22:15] alex-spataru commented on #58
Unfortunately, that's the best documentation that I have found. FIRST and NI do not provide any documentation on the FRC Communication protocols. So essentially, we need to reverse engineer with Wireshark any new communication protocol for the moment.

[2018-04-11 22:17] alex-spataru commented on #59
I think that's a good idea. I will make changes to the repository configuration and build instructions later this evening.

[2018-04-12 00:28] jcreigh commented on #58
I've started to rewrite my dissectors and update my documentation, but I've _reeeeally_ lazy. I guess if people are interested I can start working on it slightly faster. And if anyone has specific questions (like this one) I can try to see what I can find out, ping me or just email me or something. I have a lot of competition packets to wade through, and I'll probably collect some more... I guess

[2018-04-12 04:36] jcreigh commented on #58
Alright, I've updated the documentation for the TCP channel. Didn't try to figure out the data at the beginning of standard output and error log packets yet. I'll make a dissector when I'm feeling motivated to, unless someone wants to grease my wheels. ;p

[DS ↔ RoboRIO TCP](https://github.com/jcreigh/FRCDriverStation/wiki/DS-%E2%86%94-RoboRIO-TCP)

[2018-04-14 01:01] jacksondm33 commented on #58
Thanks @jcreigh . This documentation is very useful as I don't have a lot of wireshark data. How do you get so many competition packets? Are you actually running wireshark on the DS computer during matches?

[2018-04-14 01:58] jcreigh commented on #58
tshark and a batch script to set it up, yep.

On Fri, Apr 13, 2018, 21:01 Jackson McClintock <notifications@github.com>
wrote:

[2018-04-16 16:14] StripedMonkey commented on #59
Is this going to happen as a nested git repository?

[2018-04-22 20:14] jcreigh commented on #58
Alright, status update. I still need to work on the wireshark dissectors, but I've updated the documentation to 2018 and added pretty much all the rest of the information that was missing. There's a couple little things, but nothing major.

https://github.com/jcreigh/FRCDriverStation/wiki

Have fun.

[2018-04-24 22:11] StripedMonkey commented on #58
Cool, I hope I can actually read some of this and understand it :)

[2018-06-24 17:53] StripedMonkey commented on #59
@alex-spataru *poke* I've started working on trying to update LibDS and it would be great if It wasn't nessicairy to update it in two places :) I can do it for you if you want.

[2018-07-20 23:02] patrickelectric opened #61 "Fail to compile with fresh clone"
[code]

[2018-07-26 01:37] alex-spataru commented on #61
Hi, sorry for the late reply!
I will try to compile the QDriverStation on my machine with a fresh clone. For the moment, could you please let me know your operating system and version?

[2018-07-26 01:43] alex-spataru commented on #61
As a side note, the LibDS is now included as a submodule, you may need to run the following commands from the repository root folder:
[code]
Alternatively, clone the repository again with the following command
`git clone --recursive https://github.com/FRC-Utilities/QDriverStation`

[2018-08-09 17:52] StripedMonkey commented on #58
Unfortunately no, I've been looking at it and had a few false starts, but its overall been negligible in terms of progress. I could give it a go but the problem lies in the fact that I don't have access to a RIO over the summer so any changes I make are "I think this will fix the issue" but not actually proven.

[2018-08-10 02:02] StripedMonkey commented on #58
I'll contact you and we can try and work something out! Its good to see someone willing to help out some :)

[2018-08-10 04:05] #61 closed

[2018-08-10 04:07] alex-spataru commented on #57
We'll move discussion of this issue to #58, which deals with the 2018 protocol implementation. Thanks for the reports!

[2018-08-10 04:07] #57 closed

[2018-08-10 12:14] patrickelectric commented on #61
everything is working fine now, ty.

[2018-08-10 13:18] jordanbancino commented on #58
@StripedMonkey Awesome! I'll wait for you to contact me. If you'd like, my email is available on my profile.

@alex-spataru I will be testing on a robot-type board. So it's basically a PDP, RoboRIO, radio, and a few motors with Talons zip tied to a board. It won't be going anywhere :laughing:.
Also, thanks for your continued support. I use Linux on my laptop, so in order to use the Driver Station,

[2018-08-10 13:33] jordanbancino commented on #58
It appears that #56 relates to my question about game data, which I think is delivered from the FMS if connected, but I know the FRC DS has an option to input your own, if you aren't connected to the FMS.

[2018-08-22 17:02] alex-spataru commented on #58
Currently, LibDS and the QDriverStation do not support FRC Game Data, I can create some dummy functions for LibDS so that they can be implemented (maybe an `ExtraNetworking` section or something similar). I'll download a copy of the latest FRC Driver Station this weekend so that I can begin working on the UI part. I will post updates about this in issue #56.

[2018-11-24 06:36] BearzRobotics opened #62 "Find New Devs"
So if this is to survive it will require people who currently are on a team weather a student or mentor to continue its development. Would it make sense to reach out to the community through things like chief delphi to help find new devs?

[2018-12-13 14:10] CharOverflowError commented on #62
I'd be willing to help. I have limited c++ experience, so I would have to start with solving a few small issues, but hopefully, we can get repo back up and follow along with the new releases of DriverStation.

[2018-12-13 14:38] BearzRobotics commented on #62
Alright, the DriverStation is made up of 2 projects. QDriverStation and LibDS. QDriverStation is written in c++ with the qt framework and LibDS is written in plain c. The biggest problem is Alex is in collage and I been out of school for two years now, so neither of us have access to a roboRio to get the necessary info to keep the project going.

[2018-12-13 15:04] CharOverflowError commented on #62
Sounds good. I'm going to finish up my personal projects in the next few weeks, and then I can start focusing on this. Build season does start very soon though, so I will probably update the repo for 2018 and 2019 after build season ends (if I can figure it out).

[2018-12-21 17:19] BearzRobotics commented on #62
So for those interested in continue development we should look at ntcore. From reading the doc they moved to a lib 128 encoding for data which could be the cause of the major breaking. Though this lib is how the bot communicates with everything.

https://github.com/wpilibsuite/allwpilib/tree/master/ntcore

[2018-12-25 01:19] BearzRobotics commented on #62
So from looking through the docs the robot uses TCP, but when messing around with the qdriverstation and wireshark it appears were using the UDP protocol.

[2019-01-03 03:53] alex-spataru commented on #58
As of the latest commit, I have added [frc_2018.c](https://github.com/FRC-Utilities/LibDS/blob/master/src/protocols/frc_2018.c), which will serve as a base for implementing the 2018 protocol. The file contains some tips and instructions to help anyone who is interested to continue development of this project.

I have also updated the UI-related functions so that the FRC 2018 protocol can be select

[2019-01-03 04:15] Redrield commented on #62
Most of the control between robot and DS happens over UDP. Certain actions like sending game data and match/competition info happens over TCP.

To the issue of QDS, I have a driver station supporting the 2018 protocol that supports joysticks [here](https://gitlab.com/Redrield/consoleds). Unfortunately it's *nix only. (Linux only at the moment because the joystick input library I'm using crashes un

[2019-01-03 04:18] Redrield commented on #58
In the mean time for anyone using Linux who wants a DS with 2018 protocol support, I've written [consoleds](https://gitlab.com/Redrield/consoleds) based on the documentation from jcreigh. Supports game data and joysticks. I haven't gone so far as to include FMS and such, seeing as it will never be comp legal anyhow.

[2019-01-03 20:06] alex-spataru commented on #58
@Redrield Thanks! I'll take a look at your project to see if I can begin working on the 2018 protocol before I start my quarter at college. I'll keep you updated through this thread! I just hope that FIRST didn't change the comm. protocols for 2019.

[2019-01-03 20:08] #53 closed

[2019-01-03 20:40] #41 closed

[2019-01-03 20:41] #42 closed

[2019-02-24 03:57] jacksondm33 commented on #58
I don't think too much has changed in the 2018/2019 protocols as QDriverStation works fine with them as far as I have seen. One thing that doesn't work is the netconsole (used for messages and stdout) which I was recently able to fix by adding tcp sockets and fixing a flaw in their creation. I now can get info and prints from what I have tested. I have not added complete support for reading tcp pa

[2019-02-25 19:48] jordanbancino commented on #58
Oh sweet! This project just came to mind the other day, I was just wondering if any progress was being made. Then I saw this. I'll definitely take a look at your fork, because I am very interested in using LibDS with ConsoleDS this year for testing.

[2019-02-26 01:27] Redrield commented on #58
Not sure if ConsoleDS is in reference to my project, but it doesn't use LibDS, rather uses a rust implementation of the DS protocol available on crates.io

[2019-02-26 16:57] jordanbancino commented on #58
@Redrield I am referring to the sample project “ConsoleDS” in the LibDS examples folder.

https://github.com/jacksondm33/LibDS/tree/feature/netconsole/examples/ConsoleDS

[2019-02-26 19:45] Redrield commented on #58
Gotcha, I should really come up with a more creative name for my project

[2019-02-27 14:37] jordanbancino commented on #58
@Redrield Haha yeah, I always struggle with naming things. Probably the hardest part of programming 🤣

[2019-09-17 03:53] #47 closed

[2020-10-06 19:15] alex-spataru commented on #62
Any updates on this issue? :(

[2020-10-06 19:26] CharOverflowError commented on #62
Sorry, my team kind of fell apart this year :(. We're based at a university that has a lot of covid rules this year, and high school students are not currently allowed to go to meetings. I'll look into getting a RoboRIO and updating the protocol though. I'll try and let you know if I am able to figure it out.

[2020-10-06 20:02] alex-spataru commented on #62
Yeah, the pandemic changed a lot of things everywhere. The economy down here in Mexico got hit pretty hard, I have several post-college friends in the aerospace industry who where fired in order to reduce operational costs. But at least I got a job as a web developer, which should help me until I finish my studies and get a proper job.

Anyways, I found out that some of the people who forked LibDS

[2020-10-06 21:00] solonovamax commented on #62
I'd love to contribute to it, though I have zero access to a roborio and I'm a java dev, so c++ is way out of my scope. (and I cba to learn a new language right now)
Might rewrite it in Java with JavaFX though, since java is pretty pog.

Also, team 3487's fork you linked there is now deprecated, so you might want to add a strikeout or something to it.

[2020-10-06 22:11] Redrield commented on #62
I'm currently maintaining an open-source DS [Conductor](https://github.com/Redrield/Conductor/tree/next) that works with 2020 robots. It implements all the safety features of the NI DS (such as grabbing disable keybinds regardless of window focus) and functions on macOS and Linux. the backbone of this is the [ds-rs](https://github.com/first-rust-competition/ds-rs) library, a cleanroom implementati

[2020-10-06 22:51] alex-spataru commented on #62
@Redrield Thanks! I'll check it out later this evening. Do you mind if I use your work as a reference to create the initial implementation for the 2019/2020 protocol in LibDS?

[2020-10-06 23:00] Redrield commented on #62
I don't mind but I also feel like it would be more valuable to put time towards one library, rather than creating several of various degrees of maintainedness

[2020-10-07 00:08] alex-spataru commented on #62
@Redrield Maybe we can work to integrate your library with the QDriverStation. LibDS (the version that its now used in the QDriverStation) is written in plain C, and has several problems with managing sockets in a cross-platform way. I feel that by using the *ds-rs* library we can overcome this and many other issues.

Also, many of the limitations of C are compensated with custom-built code (e.g.

[2020-10-07 00:33] Redrield commented on #62
I'd be happy to help integrate ds-rs into QDS, and I'd also like the help in figuring out a good way to expose its full surface area to C. You can add me to the organisation if you'd like, but I don't plan on moving any of my DS-related projects over.

[2020-10-07 00:43] alex-spataru commented on #62
@Redrield Ok, for the moment I will be working on fixing current issues and provide a "legacy" version of the QDS for users that need support for the 2014 and 2015/16 protocols. Afterwards I will check ds-rs with more detail and begin integrating it to the QDS with git submodules (so that any changes that are made on your repo are replicated in the QDS repo).

Thank you very much for your support!

[2020-10-07 01:05] #21 closed

[2020-10-07 01:06] #30 closed

[2020-10-07 01:06] #45 closed

[2020-10-07 01:07] #50 closed

[2020-10-07 01:07] #51 closed

[2020-10-07 01:07] #52 closed

[2020-10-07 01:08] alex-spataru commented on #58
Closing this issue since it's no longer relevant. Check #62 for more info.

[2020-10-07 01:08] #58 closed

[2020-10-07 01:09] alex-spataru commented on #59
Closing this issue since we now manage dependencies with submodules.

[2020-10-07 01:09] #59 closed

[2020-10-07 01:10] alex-spataru commented on #3
I'll close this issue since we'll be moving to another DS library with support for the 2020 comm. protocol.

[2020-10-07 01:10] #3 closed

[2020-10-07 01:11] alex-spataru commented on #56
Closing this issue since we'll be using a new DS library.

[2020-10-07 01:11] #56 closed

[2020-10-07 01:12] #38 closed

[2020-10-10 23:21] alex-spataru commented on #62
**Update:** I just received a PR from @booma23 (https://github.com/FRC-Utilities/LibDS/pull/11). It implements the 2020 protocol, I will be integrating it with the QDriverStation shortly.

@Redrield I'll rename this project to "QDriverStation" again, the QDriverStation/rs_ds implementation with your library should have a new name to avoid confusion with users (name ideas are very welcome). On the

[2021-01-27 18:02] iqv29 opened #63 "Please update for FRC 2020 protocol"
Please update for FRC 2020 protocol

[2021-01-31 07:26] #63 closed

[2021-06-06 23:08] Louisspitz opened #64 "Un able to connect to robot"
i am un able to connect to the robot or pull up the dash bord on windows 10 2020

[2021-09-24 06:20] FwappyPotato opened #65 "Weird garbled text encoding issue"
Running Arch with KDE Plasma, installed via AUR package. I presume it has something to do with character encoding schemes, but its strange its only happening with some text.

![image](https://user-images.githubusercontent.com/11204286/134627439-7e698304-9b40-4721-8d4f-a02365c2d93c.png)

[2022-02-09 16:09] KenwoodFox opened #67 "AUR Package out of date"
The AUR package is way out of date: https://aur.archlinux.org/packages/qdriverstation
The appimage works though! https://aur.archlinux.org/packages/qdriverstation-appimage

If QDriverStation maintainers dont already have access to these packages, maybe that should happemn so they stay in sync?

Also as a note, excited to get my hands on a steam deck soon hopefully, ill be working to get steam deck

[2022-04-27 15:45] KevinRK27 opened #69 "*** buffer overflow detected ***: terminated"
I run the app then suddenly it crashed

*** buffer overflow detected ***: terminated
Aborted (core dumped)

[2022-09-21 02:31] Silicasandwhich opened #70 "Crashes after changing a few values in driver station"
Whenever I open driver station, it crashes a few moments later. Running in the terminal gives the following output (I changed team number and alliance position so I could tell when the program stops responding):

**Log:**
[code]
Here is my neofetch in case any of the information would help.

![neofetch](https://user-images.githubusercontent.com/43558271/191400596-9ec864a2-eb5f-4cc8-bd5b-3e9c7bf9d9